extends /layouts/main

block append variables
  - var headTitle = t('error.page_bad_request.title')
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type= t('error.page_bad_request.title')
    +e.code 400

    if error.errors
      +e.text
        dl
          each value, key in error.errors
            dt= key
            dd= value.message
