extends /layouts/main

block append variables
  - var headTitle = t('error.page_unauthorized.title')
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type= t('error.page_unauthorized.title')
    +e.code 401
    +e.text
      if error.description
        != error.description
      else
        != t('error.page_unauthorized.desc')
