extends /layouts/main

block append variables
  - var headTitle = t('error.page_forbidden.title')
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type= t('error.page_forbidden.title')
    +e.code 403
    +e.text
      if error.info
        != error.info
      else if user
        != t('error.page_forbidden.desc1')
      else
        != t('error.page_forbidden.desc2')
