extends /layouts/main

block append variables
  - var headTitle = t('error.page_not_found.title');
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type= t('error.page_not_found.title')
    +e.code 404
    +e.text
      if error.info
        p= error.info
      else
        p!= t('error.page_not_found.desc1')

    p!= t('error.page_not_found.desc2')

    +e.text
      +e('form').search(action="/search")
        +e.search-query-wrap
          +b('span').text-input.__search-query
            +e('input').control(type="text", name="query")
        +e.search-submit-wrap
          +b('button').button._action.__search-submit
            +e('span').text!= t('error.page_not_found.find')
    +e.text!= t('error.page_not_found.desc3')
