extends /layouts/main

block append variables
  - var headTitle = t('error.page_internal_error.title')
  - var sitetoolbar = true;

block content
  +b.error
    +e('h1').type= t('error.page_internal_error.title')
    +e.code 500

    if error.info
      +e.text
        p= error.info

    - var subject = encodeURIComponent(t('error.page_internal_error.mail_subject', {href: url.href}))

    +e.text!= t('error.page_internal_error.desc', {subject: subject, mail: mail})
    +e.text
      +e('span').request RequestId: #{requestId}
