mixin main-en-parts(data)
  - data = data || {};

  +b.main-en-parts
    +e('p').title
      =data.title
    +e('p').description
      =data.description

    if data.tabs
      +e.tabs
        for tab in data.tabs
          +e.tab(class=tab.active ? 'active' : '')
            +e('p').tab-subtitle
              =tab.subtitle
            +e('p').tab-title
              =tab.title

            for text in tab.text
              +e('p').tab-text
                =text

            if tab.label
              +e('span').label
                =tab.label
