.main-en-search
  border-radius 3px
  background-color #373636
  display flex
  padding 25px 45px
  max-width 990px
  width 100%
  box-sizing border-box
  margin-bottom 24px

  &__input
    display block
    border none
    border-radius 4px
    height 44px
    width 100%
    padding-left 15px
    font-size 16px

  &__button
    border none
    background-color #FD9460
    border-radius 3px
    padding 0
    min-width 140px
    margin-left 20px
    text-transform uppercase
    color #fff
    font-weight bold
    font-size 18px
    font-family font_en
    text-align center

    &:hover
      background-color #FF7C3C