extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var title = 'Chat logs: ' + group.title
  - var sitetoolbar = true
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses";

block content
  
  p Логи для даты #{date}
  
  +b.chat-messages
    ul.messages
      each message in messages
        +e('li').message
          +e.userpic
            //- +e('img').userpic-img(src=message.user.picture)
          +e.content
            +e.info
              //- +e('span').name= message.user.name
              +e('span').time= message.date
            +e.text= message.text
              
            
