extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var title = 'Chat logs: ' + group.title
  - var sitetoolbar = true
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses";

block content
  
  +b.chat-logs
    +e('h2').title= date
  
  +b.chat-messages
    +e('ol').messages
      if messages.length
        each message in messages
          +e('li').message
            +e.userpic
              //- +e('img').userpic-img(src=message.author.picture)
            +e.content
              +e.info
                +e('span').name= message.author.realName
                +e('span').time= moment(message.date).format('H:mm')
              +e.text= message.text
      else
        +e('p').empty Нет сообщений для выбранной даты
              
            
