include ./blocks/chat-log/index

extends /layouts/main

block append variables
  - var headTitle = 'Логи группового чата';
  - var sitetoolbar = true
  - var layout_main_class = 'main_width-limit-wide'

block append head
  link(href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet")

block content
  +chat-log({
    from: startDate,
    to: endDate,
    messages: messages,
  })
  
  
