extends /layouts/main

block append variables
  - var layout_header_class = "main__header_center"
  - var title = 'Chat logs: ' + group.title
  - var sitetoolbar = true
  - var content_class = '_center'
  - var siteToolbarCurrentSection = "courses";

block append head
  link(href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet")

block content
  
  +b.chat-logs
    +e('h2').title Сообщения для диапазона дат:
    +b('form')(method="GET").chat-logs-change-date
      +e('input')(type="date", name="start_date").input
      +e('input')(type="date", name="end_date").input
      +e('button').button Изменить дату
  
  +b.chat-messages
    +e('ol').messages
      if messages.length
        each message in messages
          +e('li').message
            +e.userpic
              //- +e('img').userpic-img(src=message.author.picture)
            +e.content
              +e.info
                +e('span').name= message.author.realName
                +e('span').time= moment(message.date).format('H:mm')
              +e.text
                if message.file.preview
                  code= message.file.preview
                  +e('a')(href=message.file.permalink, target="_blank").permalink Посмотреть весь файл
                else
                  span!= message.text
      else
        +e('p').empty Нет сообщений для выбранной даты
              
            
