.main-en-banner
  color #fff
  background-color #fff
  background linear-gradient(174deg, transparent 0, transparent 75.000%, #fff 75.000%), linear-gradient(162deg, #414141 0%, #414141 41.000%, #3d3d3d 41.000%)
  min-width 600px
  background-size contain
  background-repeat no-repeat
  text-align center
  padding-top 20px

  &__inner
    max-width 1000px
    width 100%
    margin 0 auto
    padding-top 50px

  &__title
    font-family font_en
    font-weight bold
    font-size 36px
    line-height 1.4
    color text_yellow
    margin-bottom 15px

  &__text
    font-family font_en
    font-size 16px
    line-height 1.5

  &__logo
    display block
    margin-left 32px
    text-align left

  &__content
    margin-top 23px