.about-en-text
  font-size 16px
  line-height initial

  &__contacts
    p
      margin 5px 0

    :link
      color light_link_color

  &__title
    font-size 28px
    text-align center
    margin-bottom 33px

  &__body
    &_center
      text-align center
