extends /layouts/email

block body
  h2 Всем привет,

  p Только что осознал, что закончился наш курс по Node.JS.

  p Надеюсь, что этот курс был для вас полезным, и его прохождение поможет вам в текущих и будущих проектах.

  p Во вкладке профиля "Курсы" вы можете скачать сертификат.

  p Оставить отзыв на курс вы можете там же, прямая ссылка: <a href="https://learn.javascript.ru#{group.getFeedbackUrl()}">https://learn.javascript.ru#{group.getFeedbackUrl()}</a>.

  p На случай, если какие-то вопросы избежали занятий, сегодня в обычное время я буду в чате и вебинаре, и постараюсь на них ответить.

  p Успехов вам и хорошей разработки!

