extends /layouts/email

block body
  h2 Всем привет!

  p Я сегодня ночью вылетаю из Китая домой.

  p Поэтому сегодня договорились занятие не проводить, а провести по расписанию в пятницу а потом отработать 9 февраля.

  p Прошу прощения за неудобства. Компенсирую хорошим занятием в пятницу.

  p Спасибо!
