extends /layouts/email

block body
  h1 Как ваши дела?

  p Здравствуйте,

  p Напишите, пожалуйста, как ваши дела с обучением? Что получается, что не очень?

  p Удаётся ли присутствовать на всех занятиях, есть ли какие-то пожелания?


