extends /layouts/email

block body
  h2 Всем привет!

  p Рад приветствовать вас в числе участников курса по TypeScript! ;)

  p На первой встрече 12 февраля по традиции проходит собрание для проверки подключения и решения орг. вопросов.

  p.
    Далее мы будем встречаться два раза в неделю, по обычному расписанию.
    Сами занятия также могут длиться несколько дольше заявленного времени, пожалуйста имейте это в виду при планировании.

  p
    b Проверьте чат заранее, пожалуйста (он уже работает, если нет – напишите).

  p Инструкции вы найдёте в вашей учётной записи на сайте (раздел Курсы).

  p
    b.
      К первому занятию просьба — посмотреть выпуски 1-9 скринкаста по Node.JS,
      который находится на <a href="https://learn.javascript.ru/screencast/nodejs">https://learn.javascript.ru/screencast/nodejs</a>.

  p И, разумеется, к первому занятию Node.JS должен уже стоять.

  p До встречи 12 февраля!

  p P.S. Если возникнут какие-либо вопросы – вы всегда можете задать их, ответив на это письмо.
