extends /layouts/email

block body

  h2 Всем привет!

  p.
    Поздравляю с окончанием курса по AngularJS.
    (Да, у нас с вами еще будет дополнительное занятие 17.12.2015, но официально курс завершен)

  p Во вкладке профиля "Курсы" вы можете скачать сертификат.

  p Надеюсь, что курс помог приоткрыть занавес над магией фреймворка, сделав его для вас не просто "модным словом" в мире JavaScript, а эффективным инструментом в вашей работе.

  p.
    Будьте добры, найдите время и оставьте отзыв на курс на странице
    <a href="https://learn.javascript.ru#{group.getFeedbackUrl()}">https://learn.javascript.ru#{group.getFeedbackUrl()}</a>.

  p Успехов вам и хорошей разработки!

  p Жду ваших проектов!

  p P.S. Есть небольшой шанс, что это письмо пришло вам два раза – если так, извините, издержки производства.
