extends /layouts/email

block body
  h2 Всем привет!

  p Наш курс уже закончился, и обычно я не пишу в рассылку завершившейся группы, но здесь решил сделать исключение.

  p.
    От некоторых участников были вопросы по готовящемуся курсу по Angular.JS.
    И как раз на днях открылась запись на этот курс.

  p.
    Это первая группа, хотелось бы, чтобы на неё записались те, кто заведомо знает JS.
    Поэтому я не пишу о ней в обычные рассылки сайта, а предлагаю информацию только вам как участникам прошлых курсов.

  p.
    Стоимость обучения в первой группе – около 150$, при этом курс длится месяц.
    Количество участников также небольшое.

  p.
    Группа хоть и первая, но на неё действуют все гарантии качества обучения, включая возврат денег в первую неделю занятий.
    Так что вы ничем не рискуете и, если подумывали освоить Angular.JS, то этот вариант – заведомо хороший.

  p.
    Не говоря уже о том, что при стоимости обучения 150$ за месяц с преподавателем – самому осваивать
    фреймворк и ходить по граблям будет явно дороже.

  p Запись в эту группу – только "по приглашению", поэтому объявления ней нет на сайте, если интересно – пользуйтесь прямой ссылкой ниже.

  p Информация о курсе и запись доступны на странице <a href="http://learn.javascript.ru/courses/angular">http://learn.javascript.ru/courses/angular</a>.

  p P.S. Надеюсь, что эта информация вам релевантна, если нет – извините и, пожалуйста, не беспокойтесь, больше писем в рассылку группы об этом не будет.
