extends /layouts/email

block body
  h2 Всем привет!

  p Если вы по какой-то причине не смогли присутствовать на собрании – пожалуйста, приходите за 15 минут до занятия.

  p Тогда, если есть проблемы с подключением, можно будет попробовать их тут же решить. На занятии мы на это уже не отвлекаемся.

  p P.S. В случае, если вы не можете войти в чат – ответьте на это письмо прямо сейчас :)
