extends /layouts/email

block body
  h2 Добрый день,

  p Как ваши дела?

  p Мы проходим довольно важные темы, пожалуйста напишите, насколько получается участвовать в занятиях, делать домашнюю работу? Хватает ли времени? Всё ли понятно?

  p Напишите, пожалуйста, в ответ на это письмо.
