extends /layouts/email

block body
  h2 Всем привет!

  p К сожалению, по техническим причинам занятие сегодня вечером не состоится. Приношу свои извинения.

  p Следующая встреча будет по обычному расписанию, в ближайший четверг.

  p Такая "отмена" не влияет на общее количество занятий курса.

  p Ещё раз извините за неудобства.
