extends /layouts/email

block body
  h2 Всем привет!

  p Добро пожаловать на курс по Angular.JS!

  p Первая встреча, 11 января в 19:30 GMT+3, будет собранием для проверки подключения и решения организационных вопросов.

  p Инструкции по подключению вы найдёте в вашей учётной записи на сайте (раздел Курсы).

  p.
    Далее встречи будут два раза в неделю, по обычному расписанию.
    Накопив достаточно знаний, 25го января мы уходим на недельный перерыв,
    чтобы у всех было время опробовать свои силы на чём-то более серьезном.

  p.
    1 февраля мы вместе смотрим ваши наработки,
    и далее продолжаем разбирать оставшиеся темы вплоть до 15го февраля – еще одной недельной паузы
    с домашним заданием.

  p.
    После у нас будет с вами ещё 2 занятия, чтобы подчистить все оставшиеся вопросы и похвастаться итоговыми проектами.

  p В начале мы будем использовать "песочницу" <a href="http://plnkr.co">http://plnkr.co</a> для кода, далее также понадобится сервер Node.JS, который хорошо бы поставить с <a href="http://nodejs.org">http://nodejs.org</a>.

  p
    b Проверьте чат заранее, пожалуйста (он уже работает, если нет – напишите).

  p До встречи на собрании!

  p P.S. Если возникнут какие-либо вопросы – вы всегда можете задать их, ответив на это письмо.
