extends /layouts/email

block body
  h2 Всем привет!

  p Мы получили два письма о непонятности Angular для новичков. В нормальной ситуации такого не должно быть. Нам очень важно, чтобы всем всё было понятно. Спасибо, что написали.

  p Чтобы исправить ситуацию, мы удлиняем курс на одно занятие, которое состоится в этот четверг.

  p На нём мы аккуратно пройдём по основам Angular и разложим всё "по полочкам".

  p Если вам до текущего момента было всё понятно, то, наверное, можно не приходить.

  p.
    Окончание курса, соответственно, сдвигается на чуть позже.
    Ранее мы предупреждали, что такое возможно в целях качественного обучения, поэтому, надеюсь, не сюрприз.
    При необходимости и ещё увеличим количество занятий.
    Важно, чтобы и программа была пройдена и знания по ней были хорошие.

  p До четверга!
