include ./blocks/main-en-banner/index
include ./blocks/main-en-search/index
include ./blocks/main-en-parts/index
include ./blocks/main-en-contents/index

extends /layouts/main

block append variables
  - var headTitle = 'The modern Javascript Tutorial';
  - var sitetoolbar = false
  - var title = false
  - var header = false
  - var comments = true
  - var layout_main_class = 'main_width-limit-wide'

block append head
  !=js('tutorial', {defer: true})
  // !=css('tutorial')

block banner
  +main-en-banner({
    title: 'The modern Javascript Tutorial',
    text: [
      ['From the basics to advanced topics with simple, but detailed explanations.'],
      ['The content of this is stored on Github', true]
    ],
    subtitle: 'Table of contents',
    description: 'Main course contains 2 parts which cover JavaScript as a programming language and it’s browsers implication. There will be also additional series of thematic articles.'
  })
    +main-en-search()

  +main-en-contents({
      contents: chapters
  })
