.main-en-parts
  display block

  p&__title
    font-family font_en
    font-weight bold
    font-size 28px
    line-height 1.2
    color text_yellow
    margin 0 0 15px

  p&__description
    font-family font_en
    font-size 16px
    line-height 1.5
    max-width 650px
    margin 0 auto 24px

  &__tabs
    background-color color_orange_light
    display flex
    text-align left
    margin 0 auto
    max-width 920px
    width 100%

  &__tab
    position relative
    background-color #fff
    border 3px solid color_orange_light
    width 100%
    padding 18px 30px 27px

    &.active
      background-color color_orange_light

      &:before
        content ''
        display block
        left 0
        right 0
        bottom -21px
        margin auto
        position absolute
        width 0
        height 0
        border-top 18px solid color_orange_light
        border-left 14px solid transparent
        border-right 14px solid transparent

  p&__tab-title
    font-family font_en
    font-weight bold
    font-size 18px
    line-height 1.3
    color #000
    margin 0 0 10px

  p&__tab-subtitle
    font-family font_en
    font-size 14px
    line-height 1.5
    color #000
    margin 0

  p&__tab-text
    font-family font_en
    font-size 14px
    line-height 1.5
    color #000
    margin 0 0 12px

    &:last-child
      margin-bottom 0

  span&__label
    background-color #9B6B6B
    font-family font_en
    font-size 12px
    line-height 1.2
    display inline-block
    border-radius 70px
    text-transform uppercase
    padding 5px 20px 4px
    margin 0
