extends /layouts/email

block body

  h2 Ваш заказ #{order.number} аннулирован по истечению времени

  p
    | Ваш заказ на Javascript.ru под номером #{order.number} автоматически аннулирован
    if groupStartsSoon
      | &nbsp;в связи со скорым началом обучения, ввиду отсутствия информации о платеже.
    else
      | &nbsp;по истечению времени ожидания, ввиду отсутствия информации о платеже.

  if orderSuccessSameGroupAndUser
    p.
      У вас есть другой, оплаченный, заказ под номером #{orderSuccessSameGroupAndUser.number} в ту же группу, так что, вероятно, аннулирован лишний, дублирующий, заказ.

  p
    | Список активных заказов доступен в личном кабинете:&nbsp;
    a(href=profileOrdersLink)= profileOrdersLink
    | &nbsp;(нужно авторизоваться на сайте).

  if groupStartsSoon
    p Если вы оплачивали этот заказ или собираетесь это сделать сегодня – ответьте на это письмо.
  else
    p Если вы оплачивали этот заказ или собираетесь это сделать – ответьте на это письмо.

  p Автоматическая отмена неоплаченных заказов предназначена для удаления несостоявшихся заказов.

