extends /layouts/email

block body
  h2 Всем привет!

  p Собрание будет сегодня в 20:30 GMT+3, а не в 21:30 GMT+3.

  p Извиняюсь за опечатку со временем в предыдущем письме, надеюсь она не сильно помешает вашим планам.
