extends /layouts/email

block body
  h2 Всем привет!

  p Рад приветствовать вас в числе участников курса по Node.JS! ;)

  p
   b Завтра, в пятницу 26 июня 21:30 GMT+3 мы проведём небольшое собрание.

  p.
    Участие в нём очень желательно, чтобы проверить подключение, решить все технические вопросы.
    На занятиях мы технические вопросы не решаем, а изучаем Node.JS.

  p.
    Собрание специально сделано заранее, чтобы если какие-либо технические проблемы возникнут – была возможность их решить.
    Поэтому обязательно приходите.

  p.
    Далее мы будем встречаться два раза в неделю, по обычному расписанию.

  p
    b Проверьте чат заранее, пожалуйста (он уже работает, если нет – напишите).

  p Инструкции вы найдёте в вашей учётной записи на сайте (раздел Курсы). Напомню, что к первому занятию IO.JS должен уже стоять, и начальные выпуски скринкаста – просмотрены. Чтобы мы сразу могли что-то делать.

  p До встречи на собрании!

  p P.S. Если возникнут какие-либо вопросы – вы всегда можете задать их, ответив на это письмо.
