extends /layouts/email

block body
  h2 Всем привет!

  p К первому занятию просьба – посмотреть выпуски 1-9 скринкаста по Node.JS, который находится на <a href="https://learn.javascript.ru/nodejs-screencast">https://learn.javascript.ru/nodejs-screencast</a>. Можно больше выпусков, но не меньше. Чтобы нам было с чего начинать.

  p Если быть на собрании не получилось – приходите за 30 минут до занятия, в 19:00 GMT+3, я буду на месте, чтобы протестировать подключение.

  p До встречи во вторник!
