extends /layouts/email

block body
  h2 Всем привет!

  p Сегодня у нашей группы каникулы. Можно отдохнуть и подтянуть "хвосты".

  p Впрочем, если у кого-то есть вопросы – приходите. Запущу вебинар и чат, всё подробно разберём, сегодня в обычное время.

  p Нового материала не будет.
