extends /layouts/email

block body
  h2 Всем привет!

  p Рад приветствовать вас в числе участников курса по Node.JS! ;)

  p
   b Завтра, в пятницу 17 июля в 19:00 GMT+3 будет небольшое собрание (30 мин макс) для проверки подключения и решения орг. вопросов.

  p.
    Участие в нём очень желательно, так как на занятиях мы технические вопросы не решаем, а изучаем Node.JS. Чтобы уже точно всё работало.
    Собрание специально сделано заранее, чтобы если какие-либо технические проблемы возникнут – была возможность их решить до занятия.

  p.
    Далее мы будем встречаться два раза в неделю, c 20 июля по обычному расписанию.

  p
    b Проверьте чат заранее, пожалуйста (он уже работает, если нет – напишите).

  p Инструкции вы найдёте в вашей учётной записи на сайте (раздел Курсы).

  p
    b.
      К первому занятию просьба — посмотреть к 20 июля выпуски 1-16 скринкаста по Node.JS,
      который находится на <a href="https://learn.javascript.ru/nodejs-screencast">https://learn.javascript.ru/nodejs-screencast</a>.
      Можно больше выпусков, но не меньше. Чтобы мы сразу могли что-то делать.

  p Также напомню, что к первому занятию IO.JS должен уже стоять.

  p До встречи завтра, на собрании!

  p P.S. Если возникнут какие-либо вопросы – вы всегда можете задать их, ответив на это письмо.
