extends /layouts/email

block body
  h2 Всем привет!

  p.
    Важная информация: у Dropbox техническая проблема с аккаунтом, они её обещают скоро решить, но мы их ждать не можем. Поэтому Dropbox будет <code>nodejs-20150720@yandex.ru</code>.

  p Пожалуйста, расшарьте на него свою директорию. А я вам с него вышлю инвайт, вместо того, что был.

  p Если вы не были на собрании – приходите за 20 минут до занятия сегодня, чтобы протестировать соединение, я буду на месте.

  p До встречи!
