mixin chat-message(data)
  +b.chat-message
    +e.header
      +e.user=data.user
      +e.date=data.date

    +e.message!=data.message
    +e.attachments
      if data.attachments
        each attachment in data.attachments
          +chat-message(attachment)
