include ../blocks/chat-log/index

extends /layouts/main

block append variables
  - var headTitle = 'Логи группового чата';
  - var sitetoolbar = true
  - var layout_main_class = 'main_width-limit-wide'
  - var title = 'Логи группового чата'

block append head
  !=css('markup')

block content
  -
    messages = [
      {
        date: 'September 7, 2016',
        messages: [
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: '))) Корня, сорян'
          },
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: 'вот пройду курс скоро и буду гуру )))'
          },
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: 'Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта?'
          },
        ]
      },
      {
        date: 'September 8, 2016',
        messages: [
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: '))) Корня, сорян'
          },
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: 'вот пройду курс скоро и буду гуру )))'
          },
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: 'Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта?'
          },
        ]
      },
      {
        date: 'September 9, 2016',
        messages: [
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: '))) Корня, сорян'
          },
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: 'вот пройду курс скоро и буду гуру )))'
          },
          {
            user: 'kuzroman',
            date: 'Sep 11, 2016 21:21',
            message: 'Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта? Привет всем. Подскажите плиз как в express js из любого модуля получить путь до коня проекта?'
          },
        ]
      }
    ]
  +chat-log({
    from: '2016-09-01',
    to: '2016-09-14',
    messages: messages,
  })
