.chat-message
  margin-bottom 15px
  text-align left

  &__header
    display block
    margin-bottom 5px

  &__user
    font-weight bold
    display inline-block

  &__date
    color: #999999
    display inline-block
    margin-left 15px
