include ./blocks/about-en-header/index
include ./blocks/about-en-banner/index
include ./blocks/about-en-benefits/index
include ./blocks/about-en-layout/index
include ./blocks/about-en-text/index
include ./blocks/about-en-list/index
include ./blocks/about-en-humans/index

extends /layouts/main

block append variables
  - var headTitle = 'The modern Javascript tutorial';
  - var header = false
  - var layout_page_class = 'page_contains_header'
  - var mainclass = 'main-headered'

block append head
  !=css('about')
  script(defer src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  !=js('about', {defer: true})
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css')

block content
  +about-en-header({
      title: 'About the project'
  })

  +about-en-layout()
    +e.col
      +about-en-text({
        title: 'Project history and goals'
      })
        p
          | Javascript.info was created as a fork of <a href="https://learn.javascript.ru">http://learn.javascript.ru</a>,
          | one of the biggest Russian JavaScript tutorials and learning platform.

        p Here's merely a rewrite of the tutorial. If you like it, we can do more.
        p
          | The content of the tutorial is available at
          =' '
          a(href='https://github.com/iliakan/javascript-tutorial/tree/en') github
          | . You can also report about problems by creating an <a href="https://github.com/iliakan/javascript-tutorial/issues/new">issue</a> there.

    +e.col
      +about-en-text({
        title: 'People'
      })
        +about-en-humans({
          items: [
            {
              image: '/about/iliakan.jpg',
              name: 'Ilya Kantor',
              url: 'https://www.linkedin.com/in/iliakan',
              role: 'Founder, trainer, JS-developer'
            },
            {
              image: '/about/bezart.jpg',
              name: 'Artem Beztsinniy',
              url: 'http://bezart.me/',
              role: 'UX-designer'
            },
            {
              image: '/about/amax.jpg',
              name: 'Alexey Maximov',
              url: 'https://www.linkedin.com/pub/aleksey-maximov/54/b76/215',
              role: 'Admin'
            }
          ]
        })

        +e('p').small
          | And&nbsp;
          +e('a').link(href='https://github.com/iliakan/javascript-tutorial/blob/en/contributors.md') other contributors
          | .

  +about-en-banner({
      title: 'some facts about',
      name: 'Javascript.ru, the original source of this site'
  })
    +about-en-benefits({
      items: [
          {
            num: 2,
            text: ['conferences', 'JS. Talks']
          },
          {
            num: 4940,
            text: ['participants of offline', 'master classes']
          },
          {
            num: '>2000',
            text: ['participants of online mentored', 'courses']
          },
          {
            num: '>100000',
            text: ['visitors per month', '(based on last year)']
          },
          {
            num: '>93000',
            text: ['lines in JavaScript', 'tutorial']
          }
        ]
    })

  +about-en-layout({
      last: true
    })
    +e.col
      +about-en-text({
        title: 'Participate in the project'
      })
        p
          | If you have any ideas how to improve the site,
          | please write at our &nbsp;
          a(href='https://github.com/iliakan/javascript-tutorial') github
          | .

    +e.col
      +about-en-text({
        title: 'Contact us',
        center: true
      })
        +e.contacts
         p Ilya Kantor
         p
           a(href='mailto:' + mail)= mail
           br
           strong +79035419441
