include ../blocks/about-header/index
include ../blocks/about-banner/index
include ../blocks/about-benefits/index
include ../blocks/about-layout/index
include ../blocks/about-map/index
include ../blocks/about-text/index
include ../blocks/about-list/index
include ../blocks/about-humans/index

extends /layouts/main

block append variables
  - var headTitle = 'The modern Javascript tutorial';
  - var header = false
  - var layout_page_class = 'page_contains_header'
  - var mainclass = 'main-headered'

block append head
  !=css('about')
  script(defer src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  !=js('about', {defer: true})
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css')

block content
  +about-header({
      title: 'About the project'
  })

  +about-layout()
    +e.col
      +about-text({
        title: 'Project history and goals'
      })
        p
          | Javascript.ru was launched in 2007 and since then became one
          | of the biggest russian-speaking JavaScript learning platform.
          | Javascript.info is a part of Javascript.ru translated into English.

        +about-list({
          items: [
            'Provide competent, up-to-date information about JavaScript and related technologies.',
            'Popularize modern frontend technologies.',
            'Organize online and offline JavaScript-related events.',
            'Develop the JavaScript community and knowledge sharing.'
          ]
        })
        p
          | This site as well as the book about JavaScript are open-source
          | projects which you can find on&nbsp;
          a(href='https://github.com/iliakan/javascript-tutorial') github
          | .

    +e.col
      +about-text({
        title: 'People'
      })
        +about-humans({
          items: [
            {
              image: '/about/iliakan.jpg',
              name: 'Ilya Kantor',
              url: 'https://www.linkedin.com/in/iliakan',
              role: 'Founder, trainer, JS-developer'
            },
            {
              image: '/about/bezart.jpg',
              name: 'Artem Beztsinniy',
              url: 'http://bezart.me/',
              role: 'UX-designer'
            },
            {
              image: '/about/tyv.jpg',
              name: 'Yuri Tkachenko',
              url: 'https://ua.linkedin.com/in/tkachenkoyuri',
              role: 'HTML/CSS and related techs guru'
            },
            {
              image: '/about/amax.jpg',
              name: 'Alexey Maximov',
              url: 'https://www.linkedin.com/pub/aleksey-maximov/54/b76/215',
              role: 'Admin'
            },
          ]
        })

  +about-banner({
      title: 'some facts about',
      name: 'Javascript.info'
  })
    +about-benefits({
      items: [
          {
            num: 2,
            text: ['conferences', 'JS. Talks']
          },
          {
            num: 4940,
            text: ['participants of offline', 'master classes']
          },
          {
            num: '>2000',
            text: ['participants of online', 'courses']
          },
          {
            num: '>100000',
            text: ['visitors per month', '(based on last year)']
          },
          {
            num: '>24000',
            text: ['lines of JS code in the', 'open-source site repository']
          },
          {
            num: '>93000',
            text: ['lines in JavaScript', 'tutorial']
          }
        ]
    })

  +about-layout(
    {
        last: true
    }
  )
    +e.col
      +about-text({
        title: 'Participate in the project'
      })
        p
          | If you have any ideas how to improve the site engine or content&nbsp;
          | of Javascript book, feel free to participate our open-source project on&nbsp;
          a(href='https://github.com/iliakan/javascript-tutorial') github
          | .

    +e.col
      +about-text({
        title: 'Contact us',
        center: true
      })
        +e.contacts
         p Ilya Kantor
         p
          a(href='mailto:iliakan@javascript.ru') iliakan@javascript.ru
          br
          strong +79035419441
