extends /layouts/email

block body
  h2 Всем привет!

  p Если у вас не получилось участвовать в собрании – приходите, пожалуйста, за 15 минут до занятия, чтобы всё проверить, я буду на месте.

  p До встречи.
