.main-en-contents
  display block
  width 100%
  margin 0 auto
  padding-top 57px

  ol&__titles
    counter-reset title
    list-style-type none
    margin 0
    padding 0

    & > li
      margin-top 0
      margin-bottom 35px

      &::before
        display none

  &__title
    position relative
    counter-reset section
    font-family font_en
    font-weight bold
    font-size 24px
    line-height 1.2
    color text_grey_dark
    border-bottom 1px solid rgba(0,0,0,.2)
    padding-bottom 15px
    margin-bottom 15px

  &__title-link
    color text_grey_dark

  &__num
    position absolute
    top 2px
    left -47px
    font-family font
    font-size 17px
    font-weight lighter
    border-radius 50%
    width 28px
    height 28px
    line-height 28px
    text-align center
    border 1px solid #112941

  ol&__sections
    counter-increment title
    list-style-type none
    columns 3
    margin 0
    padding 0

    & > li
      margin 0
      padding 0 0 3px 42px

  &__section
    position relative
    font-family font_en
    font-size 16px
    line-height 1.4

    &::before
      position absolute
      top 4px
      left 3px
      font-family fixed_width_font
      font-size 12px
      color #20252B
      counter-increment section
      content counter(title) '.' counter(section)
