mixin main-en-contents(data)
  - data = data || { contents: [] };

  +b.main-en-contents
    if data.contents
      +e('ol').titles
        for content, index in data.contents
          - var section_num = (index < 10 ? '0' : '') + (index + 1);

          +e('li').item
            +e.title
              +e('span').num
                =section_num
              +e('a')(href=content.url).title-link
                =content.title

            if content.children
              +e('ol').sections
                for section in content.children
                  +e('li').section
                    +e('a')(href=section.url).link
                      =section.title
