mixin main-en-contents(data)
  - data = data || { contents: [] };

  +b.main-en-contents
    if data.contents
      +e('ol').titles
        for content, index in data.contents
          +e('li').item
            +e.title
              +e('span').num
                | 0
                =index + 1
              =content.title

            if content.sections
              +e('ol').sections
                for section in content.sections
                  +e('li').section
                    +e('a')(href=section.url).link
                      =section.title
