.main-en-contents
  max-width 920px
  margin 46px auto 0
  background white
  outline none

  @media (max-width media_step_1)
    margin-bottom 0
    padding 0 16px

  @media phone
    margin-top 34px

  .list
    counter-reset one
    margin-right -20px

    @media (max-width media_step_1)
      margin-right 0

    &__title
      position relative
      font-family font_en
      font-weight bold
      font-size 24px
      line-height 1.2
      border-bottom 1px solid rgba(0,0,0,.2)
      padding-bottom 15px
      margin-bottom 14px

      @media (max-width media_step_1)
        padding-left 34px
        font-size 18px

    &__link
        color text_grey_dark

    &__item
      list-style none
      counter-increment one

    &__index
      min-width 30px
      height 30px
      position absolute
      top 50%
      right 100%
      margin-top -22px
      margin-right 15px
      padding 0 2px
      box-sizing border-box
      border-radius 15px
      border 1px solid #112941
      font-family font
      font-size 16px
      font-weight 400
      line-height 28px
      text-align center
      color text_grey_dark

      @media (max-width media_step_1)
        left 0
        right auto
        margin-right 0
        margin-top -18px
        font-size 12px
        min-width 22px
        height 22px
        line-height 20px
        border-radius 11px
        padding 0 1px

  .list-sub
    counter-reset two
    margin-bottom 30px
    list-style-type none
    -webkit-column-gap 10px
    column-gap 10px
    -webkit-columns 3
    columns 3

    @media tablet
      -webkit-columns 2
      columns 2

    @media phone
      -webkit-columns 1
      columns 1

    &__title
      position relative
      padding-left 38px
      margin-bottom 2px

      &:before
        position absolute
        top 4px
        left 0
        font-family fixed_width_font
        font-size 12px
        line-height 16px
        content counter(one) '.' counter(two)

    &__link
        font-size 16px
        line-height 23px
        color link_color_new


    &__item
      counter-increment two
      -webkit-column-break-inside avoid
      page-break-inside avoid
      break-inside avoid

      &_phone_hidden
        @media phone
          display none

    &__more
      cursor pointer
      display none
      margin-left 38px
      font-size 16px
      line-height 23px
      color link_color_new

      @media phone
        display inline-block
