.main-en-contents
  display block
  width 100%
  margin 0 auto
  padding-top 57px

  @media phone
    padding-top 34px

  ol&__titles
    counter-reset title
    list-style-type none
    margin 0
    padding 0

    & > li
      margin-top 0
      margin-bottom 35px

      &::before
        display none

      @media phone
        margin-bottom 20px

  &__title
    counter-reset section
    position relative
    font-family font_en
    font-weight bold
    font-size 24px
    line-height 1.2
    color text_grey_dark
    border-bottom 1px solid rgba(0,0,0,.2)
    padding-bottom 15px
    margin-bottom 15px

    @media tablet
      padding-left 40px

    @media phone
      font-size 18px

  &__title-link
    color text_grey_dark

  &__num
    position absolute
    top 2px
    left -47px
    font-family font
    font-size 17px
    font-weight lighter
    border-radius 50%
    width 28px
    height 28px
    line-height 28px
    text-align center
    border 1px solid #112941

    @media tablet
      top 0
      left 0

    @media phone
      top -2px
      left 7px
      font-size 12px
      width 22px
      height 22px
      line-height 22px

  &__sections-wrap
    counter-increment title

  ol&__sections
    list-style-type none
    columns 3
    margin 0
    padding 0

    @media tablet
      columns 2

    @media phone
      columns 1

    &_more
      @media phone
        display none

        &.visible
          display block

    & > li
      margin 0
      padding 0 0 3px 48px

      @media tablet
        padding-left 53px

  &__section
    counter-increment section
    position relative
    font-family font_en
    font-size 16px
    line-height 1.4

    &::before
      position absolute
      top 4px
      left 3px
      font-family fixed_width_font
      font-size 12px
      color #20252B
      content counter(title) '.' counter(section)

      @media phone
        left 9px

  &__more
    color link_color
    cursor pointer
    font-size 16px
    display none
    border none
    background none
    margin-left 53px
    padding 0

    @media phone
      display block


    &:hover
    &:active
      color link_hover_color
      text-decoration underline
