extends /layouts/email

block body
  h2 Всем привет!

  p Рад приветствовать вас в числе участников курса по Node.JS! ;)

  p
   b В понедельник, в 21:30 GMT+3 у нас будет собрание.

  p.
    Участие в нём очень желательно, чтобы проверить подключение, решить все технические вопросы.
    На занятиях мы технические вопросы не решаем, а изучаем Node.JS.

  p.
    Если участвовать в собрании никак не получается, то рекомендуется прийти за полчаса до начала первого занятия.
    Но собрание специально сделано заранее, так как возможны технические сложности, которые за полчаса не решить.
    Поэтому обязательно приходите.

  p.
    Далее мы будем встречаться два раза в неделю, по стандартному расписанию.

  p
    b Проверьте чат заранее, пожалуйста (он уже работает).

  p Инструкции вы найдёте в вашей учётной записи на сайте (раздел Курсы).

  p До встречи!

  p P.S. Если возникнут какие-либо вопросы – вы всегда можете задать их, ответив на это письмо.
