if lang=='en'
  //- __notification - потому что одновременно является элементом родителя, .sitetoolbar
  +b.notification._top._info.__notification(style="display:none" id="notify-en-tutorial")
    +e.content.
      The tutorial was recently rewritten from the scratch. There might be typos, please use the "Edit on Github" link (left-bottom corner) to propose fixes to them.
      Thank you!
    +e('button').close(title="Close")

  script
    :uglify
      head.showTopNotification();
