extends /layouts/email

block body
  h2 Всем привет!

  p Поздравляю с окончанием курса по JavaScript, DOM,  интерфейсам.

  p Спасибо всем, кто участвовал, задавал вопросы.

  p Надеюсь, что этот курс был для вас полезным, и его прохождение поможет вам в текущих и будущих проектах.

  p.
    Есть одна тема, которую мы не успели разобрать, хотя были пожелания: AJAX.
    Сама по себе тема очень простая, но есть ряд важных деталей и возможностей современного JavaScript, которые можно использовать.

  p.
    Я предлагаю всем желающим из нашей группы (и только из неё) прийти на "бонусное" занятие в эту среду,
    которое так и будет называться: "AJAX в контексте современного JavaScript", время занятия обычное: 21:30 GMT+3.

  p К этому занятию я бы рекомендовал ознакомиться с разделом <a href="http://learn.javascript.ru/es-modern">http://learn.javascript.ru/es-modern</a> до п.12 включительно, а также с первыми статьями раздела про AJAX: <a href="http://learn.javascript.ru/ajax">http://learn.javascript.ru/ajax</a>. Можно и попробовать что-то сделать из задачек, если раньше с AJAX не работали.

  p P.S. Во вкладке профиля "Курсы" вы можете скачать сертификат и оставить отзыв на курс.

