extends /layouts/email

block body
  h2 Всем привет,

  p.
    Выложил ещё 3 части (13 записей) скринкаста по вебпак.
    Вместе с предыдущими они уже должны давать более полную картину, как что работает и как конфигурировать сборку frontend.

  p.
    Страница скринкаста: <a href="https://learn.javascript.ru/webpack-screencast">https://learn.javascript.ru/webpack-screencast</a>.

  p Полезного просмотра.
