extends /layouts/email

block body
  h2 Всем привет!

  p.
    Вы получаете это письмо, поскольку подписаны на "продвинутую" рассылку.
    Эта рассылка "выросла" за много лет из рассылки для участников мастер-классов по JavaScript.
    Многие из тех, кто 5-6 лет назад участвовал в мастер-классах, уже тогда были хорошими разработчиками, а сейчас – и подавно.

  p.
    Долгое время я вёл курсы только сам.
    Но недавно, в качестве эксперимента, мы вместе со Степаном Суворовым сделали курс по AngularJS и,
    хотя он ещё в процессе активного улучшения, тестовая группа по нему прошла успешно,
    некоторые люди даже на работу устроились с Angular.

  p.
    Опыт хороший, было бы здорово его распространить. Тем более что который год люди спрашивают: "А чему ещё мы могли бы здесь научиться?".

  p.
    Если у вас есть знания и готовность ими поделиться, то напишите – мы могли бы сделать онлайн-курс или мастер-класс.

  p Темы, которые уже есть, но интересные курсы и мастер-классы будут кстати:

  ul
    li Современный JavaScript
    li Node.JS
    li AngularJS
    li React.JS

  p Темы, которые хотелось бы видеть:

  ul
    li Тестирование
    li Графика (canvas/svg/игры/чарты)
    li Оптимизация
    li jQuery
    li Ext.JS
    li Разработка для мобильных устройств
    li ...

  p.
    Под вопросом грамотная вёрстка: HTML5/CSS/(Stylus/SASS/Less).
    Это не JS. Но попробовать можно, грамотные курсы по ней могли бы быть полезны.
    Тем более что современный стек с препроцессорами и элементы JS в себя включает.

  p.
    Можно платно (тогда доход делится между вами и сайтом) или бесплатно.
    Основное требование – высокое качество курса.

  p.
    Как вы, наверно, заметили, общая цель проекта javascript.ru – предоставлять современную информацию, учить лучшим практикам.
    Поэтому я помогу с программой, если понадобится. Также мы сделаем тестовую группу, чтобы убедиться, что всё хорошо.

  p Есть знания и желание ими поделиться? Напишите об этом в ответ на это письмо.
