extends /layouts/email

block body
  h2 Всем привет!

  p Вас приветствует Илья Кантор.

  p Вы получаете это письмо, поскольку подписаны на рассылку Javascript.ru.

  p Вчера я выложил первые выпуски нового скринкаста по Webpack.

  p Сейчас это самая мощная и гибкая система сборки для Frontend. Но она же и самая сложная, хороших материалов по ней почти нет. Надеюсь, скринкаст поможет разобраться!

  p Записано четыре выпуска, планируются ещё, пишите в комментариях впечатления и пожелания.

  p Страница скринкаста: <a href="https://learn.javascript.ru/webpack-screencast">https://learn.javascript.ru/webpack-screencast</a>.

