extends /layouts/email

block body
  h2 Всем привет!

  p Есть несколько новостей.

  p
    b Во-первых, я записываю скринкаст по Gulp.

  p.
    Сегодня утром опубликовал первые выпуски,
    посмотреть их, а также высказать пожелания можно на странице
    <a href="https://learn.javascript.ru/screencast/gulp">https://learn.javascript.ru/screencast/gulp</a>. Как говорится, more to come.

  p
    b Во-вторых, открыт набор на тестовую группу курса по TypeScript.

  p Для тех, кто не слышал, TypeScript – это язык-надстройка над JavaScript, который добавляет строгую типизацию, аннотации и ряд других возможностей.

  p Его используют для упрощения разработки больших проектов, так как при этом возникает меньше ошибок.

  p.
    Кроме того, во фреймворках AngularJS 2.0 и Ionic.JS 2.0 этот язык взят за основу.
    Кстати, курс по Angular 2.0 у нас ещё будет, но вначале всё равно нужен TypeScript.

  p Группа длится две недели, стоимость обучения пока ~45$, так что можно посетить хотя бы из любопытства.

  p Вы можете получить информацию и записаться на странице <a href="http://learn.javascript.ru/courses/typescript">http://learn.javascript.ru/courses/typescript</a>.

  p.
    Обращаю ваше внимание, что это тестовая группа, поэтому стоимость и количество мест в ней меньше.
    Информация о ней доступна только для вас, на сайте её нет.

  p.
    Да, и кстати, спасибо всем, кто откликнулся на предложение делать новые курсы!
    Я извиняюсь, что не всем смог что-то предложить, надеюсь что с текущими проектами разберёмся и время появится.

  p.
    Как ни странно, эти темы для курсов всё ещё открыты:

  ul
    li Тестирование
    li Графика (canvas/svg/основы игр/чарты, частично есть программа)
    li Оптимизация
    li Ext.JS
    li Разработка для мобильных устройств?
    li Грамотная вёрстка HTML5/CSS/(Stylus/SASS/PostCSS)?

  p
    b Поэтому, в-третьих, если вы могли бы сделать хороший курс по ним – напишите в ответ на это письмо.

  p.
    Можно платно (тогда доход делится между вами и сайтом) или бесплатно.
    Основное требование – вы сами должны хорошо разбираться в теме и иметь желание сделать по ней лучший курс.


