extends /layouts/email

block body
  h2 Всем привет!

  p.
    Дописана восьмая часть, где я подробно разбираю, как запускать,
    настраивать, и как вообще работает Webpack Dev Server, обеспечивающий Live Reload. Она завершает изначальный план выпусков.

  p Вы найдёте её на странице <a href="https://learn.javascript.ru/webpack-screencast">https://learn.javascript.ru/webpack-screencast</a>.

  p Всего получилось 40 видео.

  p.
    P.S. Были вопросы, чем Webpack лучше gulp/grunt. Ответ очень простой.
    Webpack умеет анализировать и преобразовывать Javascript-код на более глубоком уровне,
    чем это делает цепочка gulp/grunt-плагинов. Поэтому у него больше "фич".
    Посмотрите скринкаст, познакомьтесь с ними – и сможете большим пониманием выбирать.

  p.
    P.P.S. Есть ещё утилиты, которые делают нечто подобное, например browserify.
    Но они уступают по возможностям. Поэтому есть тенденция перехода на Webpack.

  p ...А вообще – удобной и безглючной сборки! Главное, чтобы оно работало, правильно собирало код и не мешало его разрабатывать :)