extends /layouts/email

block body
  h2 Всем привет!

  p Наконец-то дописан скринкаст по Gulp!

  p.
    При публикации начальных серий казалось, что дописывать осталось всего-ничего, да и план был готов,
    но в процессе натолкнулся на редкую багу потоков в ноде, пришлось искать workaround, чтобы не уделять ей незаслуженное внимание.
    Спасибо @floatdrop, оперативно выпустил новую версию gulp-plumber, которая не триггерит проблему.

  p.
    А потом перепросмотр и рефакторинг. Это с видео, сами понимаете, не быстро. Но улучшать-то можно бесконечно, так что по итогу остановился на текущем варианте, который и опубликовал.

  p.
    Всего 14 подробных выпусков про различные аспекты Gulp
    находятся на <a href="https://learn.javascript.ru/screencast/gulp">https://learn.javascript.ru/screencast/gulp</a>.

  p На все вопросы, которые я слышал за последние годы по Gulp, я постарался в них ответить. Ежели что забыл – не серчайте. Можно спросить на той же странице в комментариях.

  p.
    P.S. Мне задают вопросы, почему не приходит информация по продвинутым курсам, к примеру, Angular и React.
    Напомню, что эта рассылка – только по новому! Открылся курс – новое. А если уже существует, то
    информация придёт только если вы запросили её, например для AngularJS – на странице
    <a href="http://learn.javascript.ru/courses/angular">http://learn.javascript.ru/courses/angular</a>.



