extends /layouts/email

block body
  h2 Здравствуйте!

  p Вы получили это письмо, так как подписаны на одну из рассылок с сайта JavaScript.ru.

  p Новый стандарт JavaScript был окончательно принят несколько недель назад.

  p В учебнике появился новый раздел на эту тему: <a href="https://learn.javascript.ru/es-modern">https://learn.javascript.ru/es-modern</a>.

  p.
    Современные возможности давно используются в проектах (как правило, через транспайлер).
    Можно было написать раздел о них и раньше, но теперь, когда окончательный стандарт принят, нет риска опубликовать предварительную информацию :)

  p.
    Всех поздравляю с новым стандартом, и — полезного чтения!


  p P.S. Раздел новый, если будут какие-то вопросы, непонятки или пожелания — пишите на <a href="https://github.com/iliakan/javascript-tutorial/issues">https://github.com/iliakan/javascript-tutorial/issues</a> или предлагайте PR. Учебник — в Open Source.
