extends /layouts/email

block body
  h2 Всем привет!

  p Открыта запись на онлайн-курс по AngularJS.

  p.
    На нём вы, вместе с преподавателем, изучите основные элементы Angular – директивы,
    сервисы, роуты и так далее.

  p.
    Но главное в построении этого курса – концентрация на правильных практиках разработки с AngularJS.
    Этот фреймворк, как и сам JavaScript, весьма гибок. Можно сделать так, а можно – иначе. Вы изучите, как делать правильно.

  p.
    Ведёт этот курс Степан Суворов.
    Он более 3 лет плотно работает с Angular и в курсе всевозможных тонкостей этой библиотеки.
    Программу курса мы с ним делали вместе и продолжаем регулярно работать над ней, улучшать её и делать доступнее.

  p.
    Сразу отвечу на вопрос: "Какую версию Angular мы изучаем?".
    Самую новую версию ветки 1.x, сейчас это 1.5.
    Ветка 2.0 сейчас что в стадии разработки, пока выйдет, да пока почистят серьёзные баги – пройдёт прилично времени.
    Новые проекты сейчас делаются на 1.x, тем более что в 1.5 есть хорошие нововведения.

  p.
    Поэтому если вы хотите использовать Angular "для жизни" в ближайшие 1-1.5 года,
    то сейчас изучать целесообразно именно её. Мы так и поступаем.

  p После каждого занятия будет предлагаться домашняя работа.

  p.
    Курс будет проходить по схеме 5 + 4 + 2, т.е. 5 занятий, затем перерыв неделя, затем ещё 4, перерыв, и ещё 2.
    Так оптимально, чтобы все участники имели время подумать над предложенными подходами и что-то написать с их использованием, а также "накопить" вопросы, возникающие при реализации.
    Первая встреча традиционно является собранием. Впрочем, эта схема не жёсткая, мы можем изменить её в случае необходимости разобра какой-то темы более детально.

  p Учитывая то, что интереса к курсу было много, открыт набор в две группы:

  ul
    li
      b С 29 февраля по 11 апреля, пн/чт 19:30 – 21:00 GMT+3.
    li
      b С 29 февраля по 11 апреля, пн/чт 21:30 – 23:00 GMT+3.

  p.
    Планируйте, пожалуйста, время с запасом, так как занятия по интересным темам могут длиться дольше, чем указано в расписании.

  p Стоимость обучения: <span style="color:#0A0">17000 рублей</span> <span style="color:gray">(≈214$)</span>.

  p На этот курс распространяются все гарантии качества обучения, описанные на странице <a href="http://learn.javascript.ru/courses">http://learn.javascript.ru/courses</a>.

  p Чтобы более подробно ознакомиться с программой и записаться, перейдите сюда: <a href="http://learn.javascript.ru/courses/angular">http://learn.javascript.ru/courses/angular</a>.

  p Если есть какие-либо вопросы – вы можете задать их, ответив на это письмо.

