extends /layouts/email

block body
  h2 Всем привет!

  p Предлагаем вашему вниманию новый онлайн-курс по AngularJS.

  p На нём вы, вместе с преподавателем, изучите основные элементы Angular – директивы, сервисы, роуты. Это само собой...

  p.
    Но самое главное в построении курса – это концентрация на правильных практиках разработки с AngularJS.
    Этот фреймворк, как и сам JavaScript, весьма гибок. Можно сделать так, а можно – иначе. Вы изучите, как делать правильно.

  p.
    Вести курс будет мой коллега, Степан Суворов.
    Он более 3 лет плотно работает с Angular и в курсе всевозможных тонкостей этой библиотеки.
    Программу курса мы с ним делали вместе.

  p Условно можно выделить три части программы:

  ol
    li Разработка интерфейса на AngularJS
    li Архитектура приложений с AngularJS
    li Организация проекта, возможные проблемы с AngularJS и их решения.


  p.
    Сразу отвечу на вопрос: "Какую версию Angular мы изучаем?".
    Самую новую версию ветки 1.x, к январю будет, видимо, уже 1.5.
    При всей любви и интересу к новому, ветка 2.0 сейчас что в стадии разработки, и пока выйдет, да пока почистят серьёзные баги – пройдёт прилично времени.
    Новые проекты сейчас делаются на 1.x, тем более что в 1.5 есть хорошие нововведения.
    Так что если вы хотите использовать Angular "для жизни" в ближайшие 1-2 года, то изучать целесообразно именно её. Мы так и поступаем.

  p После каждого занятия будет предлагаться домашняя работа.

  p.
    Курс будет проходить по схеме 5 + 4 + 2, т.е. 5 занятий, затем перерыв неделя, затем ещё 4, перерыв, и ещё 2.
    Так оптимально, чтобы все участники имели время подумать над предложенными подходами и что-то написать с их использованием, а также "накопить" вопросы, возникающие при реализации.
    Первая встреча традиционно является собранием.

  p.
    Размер группы ограничен. Максимум в одной группе планируется 20-25 человек.
    Это ограничение необходимо, чтобы Степан мог отвечать на все вопросы и давать подробную обратную связь по коду.

  p Учитывая то, что интереса к курсу было много, открыт набор в две группы:

  ul
    li
      b С 11 января по 22 февраля, пн/чт 19:30 – 21:00 GMT+3.
    li
      b С 11 января по 22 февраля, пн/чт 21:30 – 23:00 GMT+3.

  p.
    Пожалуйста, планируйте время с запасом, так как занятия по интересным темам зачастую длятся дольше, чем в расписании.

  p Стоимость обучения: <span style="color:#0A0">15000 рублей</span> <span style="color:gray">(≈225$)</span>.

  p На этот курс распространяются все гарантии качества обучения, описанные на странице <a href="http://learn.javascript.ru/courses">http://learn.javascript.ru/courses</a>.

  p Чтобы более подробно ознакомиться с программой и записаться, перейдите сюда: <a href="http://learn.javascript.ru/courses/angular">http://learn.javascript.ru/courses/angular</a>.

  p Там же можно подписаться на уведомления о будущих группах курса, если вы хотите пройти его позже.

  p Если есть какие-либо вопросы – вы можете задать их, ответив на это письмо.

