extends /layouts/email

block body
  h2 Всем привет!

  p Открыта группа "JavaScript/DOM/интерфейсы" с началом обучения <b>7 августа, занятия вт/пт 21:30 - 23:00 GMT+3</b>.

  p В связи с выходом стандарта ES-2015 и вопросами на эту тему, отвечу сразу всем спросившим — да, на курсе используется ES-2015.

  p Общая структура курса осталась такой же, как раньше, просто ES-2015 перешёл на "легальное положение" и теперь идёт примерно с начала курса. Также мы разбираем систему сборки, которая позволяет использовать его кросс-браузерно уже сейчас.

  p Этот курс ориентирован на тех, то не разрабатывал на JS раньше, либо разрабатывал на нём эпизодически и теперь хочет освоить профессионально.

  ol
    li Первая часть позволяет хорошо разобраться в языке JavaScript, получить знания и навыки написания хорошего JavaScript-кода.
    li Вторая часть позволяет научиться работать со страницей и посетителем, создавать меню, слайдеры, Drag'n'Drop и прочие интерфейсные компоненты.
    li.
      Третья часть посвящена более сложным интерфейсам.
      На ней мы изучаем, как построить взаимодействие между компонентами, грамотно организовать свой код и систему сборки.
      Эта часть заканчивается обзором высокоуровневых фреймворков, чтобы было проще решить, куда двигаться дальше.

  p В курс также входят элементы Node.JS, так как он понадобится для запуска полезных утилит.

  p У нас будет 15 занятий и 3 перерыва на "каникулы" с самостоятельным заданием. Всего получается немного больше 2 месяцев. Плюс вводный видеокурс для освоения до начала обучения.

  p Полная стоимость обучения: <span style="color:#0A0">21000 рублей</span> <span style="color:gray">(≈398$)</span>.

  p Получить общую информацию о курсах вы можете на странице <a href="http://learn.javascript.ru/courses">http://learn.javascript.ru/courses</a>.

  p Узнать подробнее программу этого курса и записаться – на странице  <a href="http://learn.javascript.ru/courses/js">http://learn.javascript.ru/courses/js</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.

  p.
    P.S. Во 2й половине сентября тоже планируется группа, как и обещал.
    Эта группа открыта по заявкам, для тех, кто может с августа начать. Предположительно, в ней будет более свободно, чем в сентябре.
