extends /layouts/email

block body
  h1 Напоминание о собрании

  p Напоминаю о собрании сегодня.

  p Наше расписание: с 14 мая, занятия пн/чт 19:30 - 21:00 GMT+3 (Мск).

  p На всякий случай, если вам не дошло предыдущее письмо, замечу, что инструкция по настройке находится на странице <a href="https://learn.javascript.ru/course-js-howto">https://learn.javascript.ru/course-js-howto</a>.

  p В настоящий момент идёт переезд со старого движка на новый, на <a href="https://learn.javascript.ru">https://learn.javascript.ru</a> нужна отдельная регистрация.

  p Для входа в чат вам понадобится только имя страницы профиля с нового сайта и пароль с нового, со старого ничего не надо. В инструкции выше - детали.

  p Начальная теория частично оформлена в видео-лекции. Вы можете скачать их на странице заказа, которую получили, когда регистрировались на сайте. Обложка пока минималистичная, но по смыслу там всё правильно, особенно если вы с нуля - стоит уделить им время.

  p Для просмотра видео-лекций нужен компьютер с OS Windows (без виртуальной машины) или MacOS. Видео-файлы защищены и активируются по серийному номеру со страницы заказа, сверху-справа.

  p Все материалы курса - для личного пользования.

  p Жду вас на собрании!
  p P.S. Если возникнут какие-то вопросы - на это письмо всегда можно ответить.
  p P.P.S. Во время собрания работает резервный Skype, имя контакта: "javascript.ru", для помощи при подключении, если оно не удаётся.
