extends /layouts/email

block body
  h1 Переезд на новый движок

  p Всем привет!

  p Дописан новый движок для курсов (он, кстати, на платформе Node.JS).

  p В нём есть ряд удобств, например автоматическое уведомление при выкладывании материалов. Кроме того, в нём будут автоматически генерироваться сертификаты для участвовавших в курсе. И вообще он новый :).

  p Так что предлагаю зарегистрироваться в нём, далее в нём я буду выкладывать материалы курса. Никакие настройки участия (чат, вебинар) при этом менять не понадобится.

  p Этот движок ранее не использовался, поэтому прошу пройти процесс регистрации целиком.

  p Для этого перейдите на страницу <a href="https://learn.javascript.ru/courses/groups/js-1/signup?code=14052015">https://learn.javascript.ru/courses/groups/js-1/signup?code=14052015</a>, там выберите любой мгновенный способ оплаты и оплатите 1 рубль. Если мгновенный вам не доступен – пойдёт и любой другой, но тогда ответьте на это письмо, указав ваш номер заказа. Дальше процесс должен быть очевиден, если что – пишите.

  p Также пожалуйста, напишите, как ваши дела с обучением? Что получается, что не очень? Есть ли какие-то пожелания?

  p P.S. Если возникнут какие-то вопросы – на это письмо можно ответить.
