extends /layouts/email

block body
  h2 Всем привет!

  p Открыта для записи группа курса "JavaScript/DOM/интерфейсы" с началом обучения <b>18 июня, занятия пн/чт 21:30 - 23:00 GMT+3</b>.

  p Было довольно мало шансов, что получится провести группу летом, но в связи с переносом некоторых дел на сентябрь такая возможность появилась.

  p В программе этой группы будет больше современного JavaScript (ES6, он же ES2015), так как сейчас проекты всё больше пишутся именно на нём.

  p Общая структура курса осталась такой же, как раньше, он состоит из трёх частей общая цель которых – научиться хорошей, грамотной JavaScript-разработке.

  ol
    li Первая часть позволяет хорошо разобраться в языке JavaScript, получить знания и навыки написания хорошего JavaScript-кода.
    li Вторая часть позволяет научиться работать со страницей и посетителем, создавать меню, слайдеры, Drag'n'Drop и прочие интерфейсные компоненты.
    li.
      Третья часть посвящена более сложным интерфейсам.
      На ней мы изучаем, как построить взаимодействие между компонентами, грамотно организовать свой код и систему сборки.
      Эта часть заканчивается обзором высокоуровневых фреймворков, чтобы было проще решить, куда двигаться дальше.

  p В курс также входят элементы Node.JS, так как он понадобится для запуска полезных утилит.

  p В первую очередь этот курс – для тех, то не разрабатывал на JS раньше, либо разрабатывал на нём эпизодически и теперь хочет освоить профессионально.

  p Время обучения: 2 месяца, включая неделю каникул с самостоятельным заданием, плюс вводный видеокурс для освоения до начала обучения.

  p Полная стоимость обучения: <span style="color:#0A0">21000 рублей</span> <span style="color:gray">(≈398$)</span>.

  p Запись на эту группу происходит на новом движке learn.javascript.ru, который, кстати, написан, на Node.JS(IO.JS).

  p Получить общую информацию о курсах вы можете на странице <a href="http://learn.javascript.ru/courses">http://learn.javascript.ru/courses</a>.

  p Узнать подробнее программу этого курса и записаться – на странице  <a href="http://learn.javascript.ru/courses/js">http://learn.javascript.ru/courses/js</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.
