extends /layouts/email

block body
  h2 Всем привет!

  p Ранее я обещал, что будет нетрадиционная по времени группа курсов "JavaScript/DOM/интерфейсы".

  p Сейчас открывается запись на такую группу:

  ul
    li
      b С 16 ноября по 25 января, пн/чт 17:30 – 19:00 GMT+3.

  p А также и на более "стандартные" по времени:

  ul
    li
      b С 24 ноября по 2 февраля, вт/пт 19:30 – 21:00 GMT+3.
    li
      b С 24 ноября по 2 февраля, вт/пт 21:30 – 23:00 GMT+3.

  p Группы занимаются по одной программе, но если вы ближе к новичку, то рекомендуется записываться в группу с 19:30, если раньше разрабатывали, то с 21:30. Группа в 17:30 - универсальная, для тех, кому обычное время не подходит.

  p Так как курс идёт два месяца, то попадает на Новый год, поэтому с 30 декабря по 10 января у нас будут каникулы.

  p Как и ранее, курс состоит из трёх частей.

  ol
    li Первая часть позволяет хорошо разобраться в языке JavaScript, получить знания и навыки написания хорошего JavaScript-кода.
    li Вторая часть позволяет научиться работать со страницей и посетителем, создавать меню, слайдеры, Drag'n'Drop и прочие интерфейсные компоненты.
    li.
      Третья часть посвящена более сложным интерфейсам.
      На ней мы изучаем, как построить взаимодействие между компонентами, грамотно организовать свой код и систему сборки.
      Эта часть заканчивается обзором высокоуровневых фреймворков, чтобы было проще решить, куда двигаться дальше.

  p В курс также входят элементы Node.JS для запуска полезных утилит и системы сборки JavaScript-кода с шаблонами, модулями и пр.

  p.
    Всего будет 2 месяца занятий, включая два перерыва: один маленький (1 занятие)
    и большой (на новый год), на которые будет дано самостоятельно выполняемое задание. На первой встрече будет организационное собрание.
    Дополнительно будет вводный видеокурс за неделю до начала обучения.

  p Два месяца – это хороший срок, но программа у нас большая, поэтому если не успеем, то количество занятий может быть увеличено.

  p Стоимость обучения: <span style="color:#0A0">23000 рублей</span> <span style="color:gray">(≈360$)</span> за оба месяца.

  p Получить общую информацию о курсе, а также записаться вы можете на странице <a href="https://learn.javascript.ru/courses/js">https://learn.javascript.ru/courses/js</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.

