extends /layouts/email

block body
  h2 Всем привет!

  p Извините, в предыдущем письме опечатка во времени, время новой группы на самом деле:

  ul
    li
      b С 5 октября, пн/чт 21:30 – 23:00 GMT+3.


  p P.S. При записи, на сайте указано именно такое, правильное, время.
