extends /layouts/email

block body
  h2 Всем привет!

  p Вы получаете это письмо, так как запросили уведомление о курсе "JavaScript/DOM/интерфейсы". Если вы хотите получать уведомления о возможных продвинутых группах или по Node.JS, то кликните по ссылке в конце письма.

  p Открылась запись на две группы курса:

  ul
    li
      b С 12 октября, пн/чт 21:30 – 23:00 GMT+3,
    li
      b С 5 октября, пн/чт 19:30 – 21:00 GMT+3.

  p Этот курс ориентирован на тех, то не разрабатывал на JS раньше, либо разрабатывал на нём эпизодически и теперь хочет освоить профессионально.

  ol
    li Первая часть позволяет хорошо разобраться в языке JavaScript, получить знания и навыки написания хорошего JavaScript-кода.
    li Вторая часть позволяет научиться работать со страницей и посетителем, создавать меню, слайдеры, Drag'n'Drop и прочие интерфейсные компоненты.
    li.
      Третья часть посвящена более сложным интерфейсам.
      На ней мы изучаем, как построить взаимодействие между компонентами, грамотно организовать свой код и систему сборки.
      Эта часть заканчивается обзором высокоуровневых фреймворков, чтобы было проще решить, куда двигаться дальше.

  p В курс также входят элементы Node.JS для запуска полезных утилит и системы сборки JavaScript-кода с шаблонами, модулями и пр.

  p
    b Всего планируется 2 месяца занятий, включая два перерыва на "каникулы" с самостоятельным заданием и организационное собрание. Плюс вводный видеокурс для освоения до начала обучения.

  p.
    Первую группу веду я, вторую – Михаил Гринько (информация о ведущем будет обновлена на сайте чуть позже).
    В прошлом мой ученик, он уже давно самостоятельный разработчик.
    Михаил давно разрабатывает на JavaScript, с использованием Angular.JS, Node.JS и других современных технологий.
    Мы подобно обсуждали программу, он проводил курсы ранее.
    Вы можете смело записываться как ко мне, так и к нему, если что-то не понравится – всегда можно перевестись.

  p <b>Стоимость обучения: <span style="color:#0A0">23000 рублей</span> <span style="color:gray">(≈340$)</span> за 2 месяца,</b> мы вынуждены были немного увеличить её в рублёвом выражении из-за скачков курсов валют и постоянного дефицита мест.

  p В "гарантиях" для курса есть небольшое дополнение.

  p В течение полугода после группы вы можете записаться на другую аналогичную группу и повторно пройти материал бесплатно.

  p Это дополнение призвано повысить качество обучения в тех случаях, когда участники по какой-то причине пропускают занятия, стесняются задавать вопросы или остаются какие-то недоработки по курсу, программа у нас большая.

  p Тем не менее, просьба использовать эту возможность именно как гарантию, то есть "на всякий случай". Если вы записываетесь на курс – то берите максимум от курса на занятиях, не откладывайте на потом.

  p Получить общую информацию о курсе и записаться вы можете на странице <a href="https://learn.javascript.ru/courses/js">https://learn.javascript.ru/courses/js</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.

  p P.S. Если это время обучения вам не подходит – оставьте пожелание по ссылке <a href="http://qr.net/jstime">http://qr.net/jstime</a>, мы исследуем другие варианты.
