extends /layouts/email

block body
  h2 Всем привет!

  p Вы получаете это письмо, так как запросили уведомление о курсе "JavaScript/DOM/интерфейсы" в течение последнего месяца.

  p Есть хорошие новости. Открывается группа двухмесячного курса "JavaScript/DOM/интерфейсы" с началом обучения <b>11 августа, занятия вт/пт 19:30 - 21:00 GMT+3</b>.

  p Этот курс ориентирован на тех, то не разрабатывал на JS раньше, либо разрабатывал на нём эпизодически и теперь хочет освоить профессионально.

  ol
    li Первая часть позволяет хорошо разобраться в языке JavaScript, получить знания и навыки написания хорошего JavaScript-кода.
    li Вторая часть позволяет научиться работать со страницей и посетителем, создавать меню, слайдеры, Drag'n'Drop и прочие интерфейсные компоненты.
    li.
      Третья часть посвящена более сложным интерфейсам.
      На ней мы изучаем, как построить взаимодействие между компонентами, грамотно организовать свой код и систему сборки.
      Эта часть заканчивается обзором высокоуровневых фреймворков, чтобы было проще решить, куда двигаться дальше.

  p В курс также входят элементы Node.JS, так как он понадобится для запуска полезных утилит.

  p Всего планируется 2 месяца занятий, включая два перерыва на "каникулы" с самостоятельным заданием и организационное собрание. Плюс вводный видеокурс для освоения до начала обучения.

  p.
    Эта группа не планировалась, но последняя запись открылась и завершилась стремительно,
    за несколько дней, многие не успели, надеюсь вторая группа исправит ситуацию.

  p.
    Чтобы эта группа стала возможной, я привлёк к её проведению Михаила Гринько.
    В прошлом мой ученик, он уже давно самостоятельный разработчик.
    Михаил давно разрабатывает на JavaScript, с использованием Angular.JS, Node.JS и других современных технологий.
    Он проводил курсы независимо и сможет сделать это хорошо.

  p.
    Чтобы дополнительно гарантировать качество обучения, я буду по возможности присутствовать на занятиях,
    следить за ними, помогать, а если вдруг что-то пойдёт не так, то возьму курс сам.
    На этот курс распространяются все гарантии качества обучения JavaScript.ru.

  p Стоимость обучения: <span style="color:#0A0">21000 рублей</span> <span style="color:gray">(≈340$)</span> за 2 месяца.

  p Получить общую информацию о курсах вы можете на странице <a href="https://learn.javascript.ru/courses">https://learn.javascript.ru/courses</a>.

  p Записаться можно на странице  <a href="https://learn.javascript.ru/courses/groups/js-20150811/signup">https://learn.javascript.ru/courses/groups/js-20150811/signup</a>.

  p.
    Важно: записаться пока можно только по прямой ссылке, которую вы увидите выше.
    Анонс на сайте появится через три дня, если в группе ещё останутся места.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.
