extends /layouts/email

block body
  h2 Всем привет!

  p Открыта запись на курс "JavaScript/DOM/интерфейсы".

  p Есть две группы:

  ul
    li
      b С 15 февраля по 14 апреля 2016 года, пн/чт 19:30 – 21:00 GMT+3.
    li
      b С 16 февраля по 15 апреля 2016 года, вт/пт 21:30 – 23:00 GMT+3.

  p Первую из этих групп веду я, вторую – Артём Мезин.

  p.
    Артём руководит группой Frontend-разработчиков в компании Mail.ru. Он уже поводил оффлайн-курсы по JavaScript для студентов и других сотрудников компании, но онлайн-группа это для него первая.

  p.
    Поэтому в группе Артёма будет меньше участников, чем обычно, и я также постараюсь присутствовать на занятиях, чтобы в случае чего помочь.
    Вы можете смело записываться к нему, если что-то не устроит, можно будет перевестись между группами, это бесплатно.

  p Теперь по программе курса. Как и ранее, курс состоит из трёх частей, есть одно небольшое изменение.

  p.
    В текущем курсе мы чуть-чуть оптимизировали изложение и добавили тему про AJAX (XMLHttpRequest + промисы).
    Вроде, всё успеваем, поэтому она с этого момента также официально в курсе.
    Единственно, я прошу всех участников, если хоть где-то что-то непонятно – обязательно говорить об этом преподавателю.
    Чтобы мы отследили и исправили это вовремя. Пожалуйста, если уж записались на курс – активно занимайтесь, чтобы мы всё успели пройти.

  ol
    li Первая часть позволяет хорошо разобраться в языке JavaScript, получить знания и навыки написания хорошего JavaScript-кода.
    li Вторая часть позволяет научиться работать со страницей и посетителем, создавать меню, слайдеры, Drag'n'Drop и прочие интерфейсные компоненты, использовать AJAX.
    li.
      Третья часть посвящена более сложным интерфейсам.
      На ней мы изучаем, как построить взаимодействие между компонентами, грамотно организовать свой код и систему сборки.

  p Третья часть заканчивается обзором высокоуровневых фреймворков, чтобы было проще решить, куда двигаться дальше.

  p В курс также входят элементы Node.JS для запуска полезных утилит и системы сборки JavaScript-кода с шаблонами, модулями и пр.

  p.
    Всего будет 2 месяца занятий, включая двое каникул,
    на которые будет дано самостоятельно выполняемое задание, и организационное собрание.
    Дополнительно все участники получают вводный видеокурс за неделю до начала обучения.

  p Стоимость обучения: <span style="color:#0A0">26000 рублей</span> <span style="color:gray">(≈339$)</span> за оба месяца.

  p Более подробно познакомиться с программой курса, а также записаться вы можете на странице <a href="https://learn.javascript.ru/courses/js">https://learn.javascript.ru/courses/js</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.

