extends /layouts/email

block body
  h2 Всем привет!

  p Открыта запись на курс "JavaScript/DOM/интерфейсы".

  p.
    Мы планировали это сделать с января, но с датами есть определённость уже сейчас,
    а вот со стоимостью возможны изменения.

  p Время обучения: с 28 января по 28 марта 2016 года.

  p Два варианта по времени:

  ul
    li
      b Пн/Чт 19:30 – 21:00 GMT+3.
    li
      b Пн/Чт 21:30 – 23:00 GMT+3.

  p Как и ранее, курс состоит из трёх частей.

  ol
    li Первая часть позволяет хорошо разобраться в языке JavaScript, получить знания и навыки написания хорошего JavaScript-кода.
    li Вторая часть позволяет научиться работать со страницей и посетителем, создавать меню, слайдеры, Drag'n'Drop и прочие интерфейсные компоненты.
    li.
      Третья часть посвящена более сложным интерфейсам.
      На ней мы изучаем, как построить взаимодействие между компонентами, грамотно организовать свой код и систему сборки.

  p Третья часть заканчивается обзором высокоуровневых фреймворков, чтобы было проще решить, куда двигаться дальше.

  p В курс также входят элементы Node.JS для запуска полезных утилит и системы сборки JavaScript-кода с шаблонами, модулями и пр.

  p.
    Всего будет 2 месяца занятий, включая двое каникул,
    на которые будет дано самостоятельно выполняемое задание, и организационное собрание.
    Дополнительно все участники получают вводный видеокурс за неделю до начала обучения.

  p.
    На этом курсе в дополнение к основному обучению мы хотели бы добавить возможности по консультациям между занятиями.
    "Неофициально" преподаватель и так отвечает на вопросы по email/skype, но сделаем эту практику шире.
    Возможно, какие-то дополнительные онлайн-часы или ответы на форуме, мы ещё подумаем и напишем позже в инструкциях.

  p Стоимость обучения: <span style="color:#0A0">23000 рублей</span> <span style="color:gray">(≈328$)</span> за оба месяца.

  p
    b Стоимость может быть увеличена в январе из-за скачков курса валюты, исходя из расчёта 350-400$.

  p Получить общую информацию о курсе, а также записаться вы можете на странице <a href="https://learn.javascript.ru/courses/js">https://learn.javascript.ru/courses/js</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.

