extends /layouts/email

block body
  h2 Курс по Node.JS

  p Кстати, также открывается курс по Node.JS/IO.JS.

  p Этому курсу посвящена отдельная рассылка, но, возможно, многие не в курсе, что она, вообще, есть, на этот случай и пишу.

  p Конечно, этот курс требует уже готовых знаний JavaScript, включая такие темы как замыкания и ООП.

  p Узнать подробнее об этом курсе, записаться или подписаться на уведомления о новых группах можно на странице <a href="http://learn.javascript.ru/courses/nodejs">http://learn.javascript.ru/courses/nodejs</a>.

