extends /layouts/email

block body
  h2 Здравствуйте!

  p Вы получаете это письмо, так как запросили уведомление о курсе "JavaScript/DOM/интерфейсы". Если вы хотите получать только уведомления о других возможных продвинутых группах, то кликните по ссылке внизу письма.

  p
    b Открыт набор на две группы онлайн-курса по Node.JS.

  p Как и ранее, у нас будут насыщенные встречи 2 раза в неделю и домашнее задание между ними, которое очень хорошо бы делать.

  p Три части программы:

  ol
    li Особенности Node.JS, фундаментальная разработка.
    li Разработка веб-сервисов на современных технологиях.
    li Архитектура сложных приложений, организация проекта.

  p Прошлые группы показали, что время обучения хорошо бы увеличить, так как материала много. Мы работаем над тем, чтобы сделать его понятнее и доступнее, но его просто много.

  p Поэтому новые группы будут чуть дольше месяца, а именно 5 недель.

  p По расписанию – есть два варианта:

  ul
    li
      b С 6 октября, вт/пт 17:30 – 19:00 GMT+3,
    li
      b С 13 октября, вт/пт 21:30 – 23:00 GMT+3.

  p.
    Первую группу веду я, вторую – Андрей Листочкин (информация о ведущем будет обновлена на сайте чуть позже).
    Андрей давно разрабатывает на JavaScript, с использованием Ember.JS, Node.JS и других современных технологий.
    Вы можете смело записываться как ко мне, так и к нему, если что-то не понравится – всегда можно перевестись.

  p <b>Стоимость обучения: <span style="color:#0A0">15000 рублей</span> <span style="color:gray">(≈220$)</span>,</b> мы вынуждены были немного увеличить её в рублёвом выражении из-за скачков курсов валют.

  p Более подробно ознакомиться с программой и, при желании, записаться вы можете на странице <a href="http://learn.javascript.ru/courses/nodejs">http://learn.javascript.ru/courses/nodejs</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.
