extends /layouts/email

block body
  h2 Доброе время суток!

  p Сразу прошу извинить меня за долгое ожидание, я обещал курс по Node.JS давно, но возможность открыть группы появилась только сейчас.

  p Вашему вниманию предлагается курс по современной Node.JS/IO.JS-разработке – от особенностей устройства сервера и его встроенных модулей и до архитектуры сложных приложений.

  p Курс будет проходить месяц в режиме онлайн.

  p В результате курса мы создадим реальный проект, и разберёмся в Node.JS на принципиально другом уровне, чем даёт чтение интернет-пособий, большинство которых, увы, сильно устарели.

  p Вы также получите комплексное понимание современной разработки на Node.JS, какие задачи и как решать.

  p Курс можно условно разделить на три части.
    ol
      li Особенности Node.JS, фундаментальная разработка.
      li Разработка веб-сервисов на современных технологиях.
      li Архитектура сложных приложений, организация разработки проекта.

  p Этот курс – для тех, кто ранее не разрабатывал на Node.JS или хочет получить хороший level-up в этой технологии.

  p Время обучения: месяц, но так как программа на самом деле весьма большая и много нюансов, то весьма вероятен вариант, что мы будем заниматься дольше, прошу учитывать это при планировании вашего времени.

  p Стоимость обучения: <span style="color:#0A0">13500 рублей</span> <span style="color:gray">(≈255$)</span>.

  p Открыты две группы – с началом обучения <b>16 июня</b> и <b>30 июня</b>.

  p Спасибо тем, кто давно и упорно долбал меня email'ами на предмет "когда же начнётся запись?".

  p Без вас было бы трудно отвлекаться от разработки и заниматься продумыванием этого курса.

  p Более подробно ознакомиться с программой курса и записаться вы можете на странице <a href="http://learn.javascript.ru/courses/nodejs">http://learn.javascript.ru/courses/nodejs</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.
