extends /layouts/email

block body
  h2 Здравствуйте!

  p Открыта ещё одна группа по Node.JS, по пожеланиям, в конце июля-начале августа.

  p Выложил обновлённую программу на сайт (по факту она уже у существующих групп будет, там Gulp добавлен, ещё важные вещи).

  p.
    Не буду скрывать, сам сижу облизываюсь, уж очень интересно вести по Node.JS группу,
    нравится получившаяся программа курса, прямо всё что нужно вошло, чтобы делать реальные современные вещи на Node.JS.

  p.
    Хорошо бы побольше практики с Gulp-потоками, но посмотрим, может и это успеем.

  p Курс будет проходить месяц в режиме онлайн, его условно можно разделить на три части (в письме кратко, на сайте – подробнее).

  ol
    li Особенности Node.JS, фундаментальная разработка.
    li Разработка веб-сервисов на современных технологиях.
    li Архитектура сложных приложений, организация проекта.

  p Время обучения: месяц, но программа большая, если вдруг не успеем, то будем заниматься дольше, так что если у вас отпуск прямо в конце курса, то пусть там будет кафе с Wi-Fi :)

  p Стоимость обучения: <span style="color:#0A0">13500 рублей</span> <span style="color:gray">(≈250$)</span>.

  p
   b Расписание: 20 Июля 2015 — 17 Авг 2015, пн/чт 19:30 - 21:00 GMT+3.

  p Более подробно ознакомиться с программой и, при желании, записаться вы можете на странице <a href="http://learn.javascript.ru/courses/nodejs">http://learn.javascript.ru/courses/nodejs</a>.

