extends /layouts/email

block body
  h2 Здравствуйте!

  p Открыт набор на новую группу онлайн-курса по Node.JS. Если вы и так занимаетесь – настроить подписку можно по ссылке внизу письма.

  p Курс, как и ранее, будет состоять из насыщенных встречи 2 раза в неделю, плюс домашнее задание между ними, которое очень хорошо бы делать.

  p Три части программы:

  ol
    li Особенности Node.JS, фундаментальная разработка.
    li Разработка веб-сервисов на современных технологиях.
    li Архитектура сложных приложений, организация проекта.

  p Срок обучения – 5 недель. Таков он у текущих групп (раньше было 4) и, надеюсь, его хватит, если нет, то увеличим.

  p Расписание:

  ul
    li
      b С 17 ноября по 18 декабря, вт/пт 19:00 – 20:30 GMT+3.

  p Стоимость обучения: <span style="color:#0A0">15000 рублей</span> <span style="color:gray">(≈230$)</span>.

  p Более подробно ознакомиться с программой и записаться вы можете на странице <a href="http://learn.javascript.ru/courses/nodejs">http://learn.javascript.ru/courses/nodejs</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.
