extends /layouts/email

block body
  h2 Всем привет!

  p С наступающими праздниками!

  p.
    Понимаю, что в голове у всех Новый Год и, наверно, это не совсем к месту.
    Но есть некий предел количества вопросов "когда откроется запись?" по email, которое я могу выдержать.

  p.
    Поэтому вновь открыт набор на мой уникальный по объёму и глубине обучения (особенно если делать домашнее задание!) онлайн-курс по Node.JS.

  p Старт занятий: 14 января 2016. Время занятий: 21:30 - 23:00 GMT+3.

  p.
    К этому курсу я постараюсь что-то сделать, возможно подготовить видеоматериалы,
    т.к. ряд тем очень обширны, мы с текущей группой вместо 5 недель уже 7ю неделю занимаемся и еле успеваем.
    А скринкаст покрывает только самые основы Node.JS.
    Детали сообщу участникам ближе ко времени курса.

  p Срок обучения – 5 недель. Если не хватет, то увеличим.

  p Стоимость обучения: <span style="color:#0A0">15000 рублей</span> <span style="color:gray">(≈210$)</span>, как видно, в долларах она уменьшилась, но до нового года меняться не будет.

  p Более подробно ознакомиться с программой и записаться вы можете на странице <a href="http://learn.javascript.ru/courses/nodejs">http://learn.javascript.ru/courses/nodejs</a>.

  p Если возникнут какие-либо вопросы – вы можете задать их, ответив на это письмо.
