extends /layouts/email

block body
  h2 Всем привет!

  p.
    Отвечаю всем, кто не нашёл записи на сайте.
    В первой группе было только 10 мест, они закончились практически сразу после рассылки.

  p.
    Если всё будет хорошо,
    мы откроем новую запись с большим количеством мест.
    Хотя в любом случае их не должно быть много для хорошего качества обучения.

