extends /layouts/email

block body
  h2 Всем привет!

  p.
    Открылся онлайн-курс по ReactJS.
    Пока первая "тестовая" группа, не более 10-15 человек.
    Потом стоимость и, возможно, количество участников, будут увеличены.

  p На курсе будет 8 занятий, 2 раза в неделю с 12 января, плюс домашнее задание между ними.

  p Более подробную информацию о программе, а также запись вы найдёте на странице <a href="http://learn.javascript.ru/courses/react">http://learn.javascript.ru/courses/react</a>.

  p Если есть какие-либо вопросы – вы можете задать их, ответив на это письмо.

