extends /layouts/email

block body
  h2 Всем привет!

  p Открыта запись на онлайн-курс по ReactJS.

  p.
    Извините за ожидание, тестовая группа закончилась уже некоторое время назад,
    но нам важно сделать хорошие курсы, поэтому не торопимся.
    Надеюсь, и вы тоже одобрите такой подход.

  p На этот раз мы предлагаем две группы, с разным временем обучения.

  ul
    li
      b С 16 февраля по 22 марта, вт/пт 21:30 – 23:00 GMT+3
    li
      b С 1 марта по 1 апреля, вт/пт 19:30 – 21:00 GMT+3

  p.
    На курсе будет 8 занятий, по 2 раза в неделю, каждые вторник и пятницу, плюс домашнее занятие между ними.
    Перерывы на 8 марта и 23 февраля, так как они являются для многих участников выходными.

  p Практика показывает, что занятия зачастую длятся дольше, чем указано в расписании, учитывайте это при планировании.

  p Цель курса – научиться строить приложения на React.JS с использованием архитектурных паттернов.

  p.
    Стоимость курса сейчас составляет 15000 руб (порядка 190$).
    Судя по интересу к курсу, она могла бы быть куда больше (и в будущем повысится),
    но нам очень важно, чтобы все участники были довольны соотношением цена/качество.
    Побочный эффект – некоторый дефицит мест, очень просим за него простить.

  p Более подробную информацию о программе, а также запись вы найдёте на странице <a href="http://learn.javascript.ru/courses/react">http://learn.javascript.ru/courses/react</a>.

  p Если есть какие-либо вопросы – вы можете задать их, ответив на это письмо.


