extends /layouts/email

block body
  h2 Всем привет!

  p Поздравляю с окончанием курса по JavaScript, DOM, интерфейсам.

  p Надеюсь, что этот курс был для вас полезным, и его прохождение поможет вам в текущих и будущих проектах.

  p Если у вас будут какие-то вопросы или сложности в интеграции изученного в работу, то 11 января в обычное время я буду в вебинаре. Приходите.

  p Материалы курса и скидка на Jetbrains будут вам доступны и в будущем.

  p Во вкладке профиля <a href="https://#{config.domain.main}#{user.getProfileUrl()}/courses">Курсы</a> вы можете скачать сертификат и оставить отзыв о курсе.

