extends /layouts/email

block body
  h2 Всем привет!

  p Извините, что не смогли позаниматься вчера в среду — транзитный кабель провайдера повредили, и я даже не смог сообщить об этом.

  p Давайте встретимся в следующую среду, 29 июля. Пожалуйста, приносите все вопросы по JS и фреймворкам. Занятие будет дольше, чем обычно.


