extends /layouts/email

block body
  h2 Всем привет!

  p Извините, сегодяншнее занятие (9 июля) не состоится, по причинам, связанным со здоровьем близкого человека, не могу его провести.

  p Следующая встреча пройдёт в обычное время.

  p Общее количество занятий курса от этого не изменится, получились незапланированные "каникулы". Прошу прощения за неудобства.

