extends /layouts/email

block body
  h2 Всем привет!

  p Поздравляю с окончанием курса по Node.JS.

  p Спасибо тем, кто участвовал, задавал вопросы.

  p Надеюсь, что этот курс был для вас полезным, и его прохождение поможет вам в текущих и будущих проектах.

  p Во вкладке профиля "Курсы" вы можете скачать сертификат и оставить отзыв на курс.

  p Успехов вам и хорошей разработки!

