extends /layouts/email

block body
  h2 Всем привет!

  p Напоминаем, что сегодня у нас занятие.

  p.
    Если по каким-то причинам вы не смогли присутствовать на собрании,
    приходите за 15 минут, чтобы всё проверить.

  p До встречи!
