extends /layouts/email

block body
  h2 Всем привет!

  p Поздравляю с окончанием курса по React.JS!

  p Надеюсь, что этот курс был для вас полезным, и его прохождение поможет вам в текущих и будущих проектах.

  p Материалы курса будут вам доступны и в будущем.

  p.
    Если сейчас вы обнаружили, что курс закончился, а какие-то вопросы по React остались –
    не стесняйтесь их задать ответным письмом по email.
    Да, если кто-то не присоединился к чату в <a href="https://join.skype.com/bLJ7QUFCwmZf">скайпе</a> - еще не поздно.
    У нас еще продолжаются обсуждения

  p Во вкладке профиля <a href="https://#{config.domain.main}#{user.getProfileUrl()}/courses">Курсы</a> вы можете скачать сертификат и оставить отзыв о курсе.

