extends /layouts/email

block body
  h2 Здравствуйте!

  p На всякий случай хочу уточнить, что и номер чата, вместе с вебинаром, тоже изменился на 147115403. То есть, другая комната в Pidgin/Adium.

  p P.S. Также напоминаю, что время собрания работает скайп поддержки "javascript.ru".

  p До встречи завтра!

