extends /layouts/email

block body
  h2 Всем привет!

  p Рад приветствовать вас в числе участников курса по современному JavaScript, DOM, интерфейсам! ;)

  p
    b Занятия начинаются 5 октября и проходят с 19:30 до 21:00 GMT+3.

  p.
    Курс длится 2 месяца. Первая встреча, по традиции, является собранием.

  p.
    Собрание необходимо, чтобы проверить подключение, решить все технические вопросы, познакомиться с системой обучения.
    На занятиях технические вопросы уже не решаются, а идёт изучение JavaScript.

  p
    b Проверьте чат заранее, пожалуйста (он уже работает).

  p Инструкции вы найдёте в вашей учётной записи на сайте (раздел Курсы).

  p.
    Вводный видеокурс находится там же, рядом с инструкциями, по ссылке на "материалы".
    <b>Пожалуйста, посмотрите его, особенно если вы новичок в JavaScript.</b>
    В нём подробно разобраны основы языка, так что уже к первому занятию у вас будет не "ноль", а какой-то начальный уровень.

  p.
    Также желательно прочитать начало учебника,
    разделы <a href="http://learn.javascript.ru/getting-started">Введение</a>
    и <a href="http://learn.javascript.ru/first-steps">Основы JavaScript</a>.


  p.
    Эту группу ведёт Михаил Гринько, по всем вопросам можно обращаться к нему,
    на email <a href="mailto:glukym@gmail.com">glukym@gmail.com</a>.
    либо ответить на это письмо, и тогда ответ попадёт мне (Илья Кантор).

  p До встречи на собрании!
