extends /layouts/email

block body
  h2 Всем привет!

  p Рад приветствовать вас в числе участников курса по современному JavaScript, DOM, интерфейсам! ;)

  p Занятия будут проходить в понедельник и четверг с 19:30 до 21:00 GMT+3.

  p В ближайшие дни будет более подробное письмо на тему обучения, пока же – небольшое объявление по времени.

  p Появилась ещё одна группа, в те же дни и числа, но позже, с 21:30 до 23:00.

  p.
    Если более позднее время для вас удобнее, то в неё можно перевестись.
    Для этого ответьте на это письмо, и я переведу вас.

  p.
    P.S. Мы хотели бы делать группы небольшие по количеству человек, поэтому и в новой группе места ограничены.
    Пожелание о переводе, если оно есть, лучше отправлять в ближайшее время, заранее прошу извинить, если кого-то не смогу перевести.
