.tutorial-map
    margin 140px auto 0
    background white
    padding 0 155px
    // for focused state
    outline none

    @media (max-width media_step_1)
        margin-bottom 0

    @media tablet
        margin-top 80px
        padding 0 16px

    @media phone
        margin-top 120px

    &_main
        max-width 920px
        margin-top 46px
        padding 0 20px

        @media phone
            margin-top 34px

    &__filter
        position fixed
        top 0
        left 0
        right 0
        z-index 1
        background #fff
        padding 57px 155px 20px 155px

        @media (max-width media_step_1)
            padding 57px 155px 20px 155px

        @media tablet
            padding 20px

    &__filter-t
        display table
        width 100%

    // we MUST repeat theese rules for each selector to make it work
    &__filter .text-input__control::-webkit-input-placeholder
        color #7E7E7E
        font size/16px font
        opacity .5
        padding-top 2px

    &__filter .text-input__control::-moz-placeholder
        color #7E7E7E
        font size/16px font
        opacity .5

    &__filter .text-input__control:-ms-input-placeholder
        color #7E7E7E
        font size/16px font
        opacity .5

    &__filter .text-input__control
        font size/16px font

    &__filter.sticky .text-input__control
        border-top-right-radius 0
        border-top-left-radius 0

    &__filter.sticky .switch__label
        border-top-right-radius 0
        border-top-left-radius 0

    &__input-wrap,
    &__option,
    &__layout
        display table-cell
        vertical-align middle

        @media phone
            display block

    &__input-wrap
        width 100%

    &__option
        white-space nowrap
        padding 0 50px 0 40px

        @media phone
            display block
            padding 20px 0 0 20px

    &__option-control
        position absolute
        top 50%
        right 100%
        margin 0
        transform translateY(-50%) scale(1.25)
        transform-origin 100% 100%
        // if we set bigger value we get even more blurry or corrupted checkboxes
        // the only easy way to make it bigger that I found

    &__option-label
        color #7E7E7E
        position relative

    &__option-label
        padding-left 11px

    &__input
        width 100%
        position relative

    &-list
        counter-reset one

        .tutorial-map_main &
            margin-right -20px

            @media (max-width media_step_1)
                margin-right 0

        &__item
            list-style none
            counter-increment one

        &__title
            margin 65px 0 32px
            font-size 18px
            line-height 24px
            color light_gray_color

        &-two
            counter-reset two

            &__item
                counter-increment two

            &__title
                position relative
                font-family font_en
                font-weight bold
                font-size 24px
                line-height 1.2
                border-bottom 1px solid rgba(0,0,0,.2)
                padding-bottom 15px
                margin-bottom 14px

                @media (max-width media_step_1)
                    font-size 18px

            &__link
                color text_grey_dark

        &-three
            counter-reset three
            margin-bottom 30px
            list-style-type none
            -webkit-column-gap 10px
            column-gap 10px
            -webkit-columns 3
            columns 3

            @media tablet
                -webkit-columns 2
                columns 2

            @media phone
                -webkit-columns 1
                columns 1

            &__item
                counter-increment three
                margin-bottom 2px
                -webkit-column-break-inside avoid
                page-break-inside avoid
                break-inside avoid

            &__title
                position relative
                padding-left 24px

                &:before
                    position absolute
                    top 4px
                    left 0
                    font-family fixed_width_font
                    font-size 12px
                    line-height 16px
                    content counter(three)

            &__link
                font-size 16px
                line-height 23px
                color link_color_new

                &_active
                    color link_hover_color

        &-four
            display none
            counter-reset four

            .tutorial-map_show-tasks &
                display block

            &__item
                margin-bottom 2px
                counter-increment four

            &__title
                position relative
                padding-left 24px
                margin 2px 0

                &:before
                    position absolute
                    content "\2713"
                    color #66ba7a
                    font-size inherit
                    margin 0 0 0 -16px

            &__link
                font-size 14px
                line-height 20px
                color link_color_new
