extends /layouts/email

block body
  h2 Всем привет!

  p Добро пожаловать на курс по React.JS!

  p.
    Напоминаю, что сегодня в 21:30 GMT+3 у нас будет
    собрание для проверки подключения и решения организационных вопросов.

  p.
    Далее встречи будут два раза в неделю, по обычному расписанию.

  p Инструкции по подключению вы найдёте в вашей учётной записи на сайте (раздел Курсы).

  p.
    В начале мы будем использовать "песочницу" <a href="http://plnkr.co">http://plnkr.co</a> для кода,
    далее также понадобится сервер Node.JS,
    который хорошо бы поставить с <a href="http://nodejs.org">http://nodejs.org</a>.

  p Также просьба поставить Git.

  p
    b Проверьте чат заранее, пожалуйста (он уже работает, если нет – напишите).

  p До встречи на собрании!

  p P.S. Если возникнут какие-либо вопросы – вы всегда можете задать их, ответив на это письмо.
