h2 Dropbox

p Для обмена файлами и совместной работы с кодом мы будем использовать <a href="http://dropbox.com">Dropbox</a>.

p.
  Это – сервис, который синхронизирует содержимое директории между различными компьютерами.
  После его установки и настройки вы сможете видеть мои файлы, а я – ваши. Конечно, в пределах указанного каталога.

ol
  li Зарегистрируйтесь в Dropbox, поставьте программу и запустите.
  li Создайте у себя в Dropbox каталог с названием из вашего имени и фамилии латинницей через точку, например <code>ivan.ivanov</code>.
  li Расшарьте этот каталог (иконка с радугой) с аккаунтом #{group.dropboxAccount.email}.
  li Не забудьте подтвердить email в Dropbox, чтобы работать с разделяемыми каталогами.
  li Теперь у меня есть доступ к вашему каталогу. В нём вы сможете выкладывать решения домашних задач.
  li Чтобы у вас был доступ к моему каталогу, перейдите на <a href="/courses/groups/#{group.slug}/dropbox-share">эту страницу</a> и введите там ваш Dropbox-email.

p Настройте, пожалуйста, Dropbox заранее.

:markit
  ```warn
  При работе с Node.JS ни в коем случае не ставьте модули в каталог Dropbox.
  Держите каталог `node_modules` во внешней директории, на уровень выше.

  Иначе они будут забивать канал синхронизации и приводить к ошибкам, так как модули расшаривать нельзя.
  ```


