extends /layouts/email

block body
  h2 Всем привет!

  p Поздравляю с прошедшим корочуном (22 декабря, самый короткий день зимы). Теперь солнца будет становиться только больше.

  p В связи с отсутствующим у меня интернетом вынужден объявить текущий день днём отдыха.

  p.
    Надеюсь, что, в приближении к новогодним праздникам,
    такое увеличенное время между занятиями позволит сделать домашнюю работу без ущерба для поиска подарков.

  p Встреча в понедельник (28 декабря) - в силе, надеюсь, всё уже будет работать.

