extends /layouts/email

block body
  h2 Всем привет!

  p Напоминаю, что сегодня мы не встречаемся, а встречаемся в понедельник.

  p Как ваши дела с JavaScript/DOM? Можно в нескольких параграфах, если не затруднит, пожалуйста?
