extends /layouts/email

block body
  h2 Всем привет!

  p Рад приветствовать вас в числе участников курса по современному JavaScript, DOM, интерфейсам! ;)

  p.
    Курс длится 2 месяца. Первая встреча будет 16 ноября. Она, по традиции, является собранием.

  p.
    Собрание необходимо, чтобы проверить подключение, решить все технические вопросы, познакомиться с системой обучения.
    Далее технические вопросы уже не решаются, а идёт изучение JavaScript.

  p
    b Проверьте чат заранее, пожалуйста (он уже работает).

  p Инструкции вы найдёте в вашей учётной записи на сайте (раздел Курсы).

  p.
    Вводный видеокурс находится там же, рядом с инструкциями, по ссылке на "материалы", для активации понадобится серийный номер с той же страницы.
    <b>Пожалуйста, посмотрите его, особенно если вы новичок в JavaScript.</b>
    В нём подробно разобраны основы языка, так что уже к первому занятию у вас будет не "ноль", а какой-то начальный уровень.

  p.
    Также желательно прочитать начало учебника,
    разделы <a href="http://learn.javascript.ru/getting-started">Введение</a>
    и <a href="http://learn.javascript.ru/first-steps">Основы JavaScript</a>. Там же есть и небольшие задачи.

  p Если появятся какие-то вопросы, на это письмо всегда можно ответить.

  p До встречи 16 ноября!
