mixin main-en-banner(data)
  - data = data || {};

  +b.main-en-banner
    +e('a')(href='/').logo
      +e('img')(src="/img/logo-en-white.svg" width=185)
    +e.inner
      +e.texts
        +e('h1').title
          =data.title

        for text in data.text
          +e('p').text(class=(text[1] ? 'no-mobile' : ''))
            =text[0]

      +e.content
        block
