@require '~styles/blocks/variables/variables'

@require 'about-en-header'
@require 'about-en-banner'
@require 'about-en-benefits'
@require 'about-en-humans'
@require 'about-en-layout'
@require 'about-en-list'
@require 'about-en-text'