extends /layouts/email

block body
  h2 Всем привет!

  p.
    В группе 28 января 21:30 образовался небольшой "перебор".
    Видимо, из-за резкого скачка курса валюты, а может и по другой причине сразу много людей записалось в один день.

  p.
    С целью улучшения качества обучения я уже сейчас открыл запись на группу
    14 февраля с временем 19:30-21:00 GMT+3, чтобы разделить участников.

  p Если время подходит, предложил бы вам в неё перейти.

  p Это не обязательно, но там, скорее всего, будет меньше людей.

  p Если такое время является для вас приемлемым, то, пожалуйста, ответьте на это письмо, указав номер заказа, и я сделаю перевод.

