+b.courses-how.courses-mix
  +e('h2').title Как проходит обучение?

  +e.body
    p.
      Курс будет проходить по схеме 1 + 5 + 4, т.е. организационое собрание перед первой встречей. Затем мы с вами пройдем 2 блока (5 занятий), на которых разберем основы и инфраструктуру React, научимся строить приложения с использованием Redux. Сделаем каникулы, во время которых вы сможете освоиться с пройденным материалом. На следующих 3-х уроках мы будем учиться разрабатывать более сложные SPA: настроим коммуникацию с сервером, будем использовать react-router и advanced API Реакта. А последние занятие мы посвятим обзору экосистемы Реакта и пониманию куда развиваться дальше, поговорим про тестирование, Relay + GraphQL, Univeral Apps, MobX и прочие модные инструменты.

    p На каждом занятии мы изучаем что-то новое. После встречи даётся домашнее задание.

    p.
      На следующем занятии мы смотрим, что и как получилось решить и как сделать лучше.
      Чтобы получить от курса максимум результата, нужно не только слушать, но и делать что-то дома, а затем – показывать преподавателю.
      Так, постепенно, с обратной связью от преподавателя, создавая проект на React, вы действительно хорошо разберётесь c этой технологией.

