+b.courses-parts.courses-mix
  +e('h2').title Основные темы программы

  +b.tabbed-pane._01

    +e('ul').tabs
      +e('li').tab._01 Первая часть курса
      +e('li').tab._02 Вторая часть курса
      +e('li').tab._03 Третья часть курса

    +e.body._01
      +e('h2').title.phone-only Первая часть курса
      ol
        li
          strong Быстрый старт с Angular2
          ul
            li Пример базового приложения на Angular2
            li Знакомство с angular-cli
            li Разработка простого компонента
            li Специфика синтаксиса шаблонов Angular2
            li Вложенные компоненты
        li
          strong Директивы (Directives)
          ul
            li Что такое директивы?
            li Создание своей директивы
            li Применение директив из коробки (ngIf, ngClass, ngFor..)
        li
          strong Взаимодействие компонентов
          ul
            li Связывание данных (data binding)
            li Передача данных в компонент
            li Связывание данных через событие  (Event binding)
            li Способы межкомпонентной коммуникации
        li
          strong Фильтрация данных
          ul
            li Что такое pipe?
            li Построение цепочек фильтраций
            li Фильтры из коробки
            li Создание собственных фильтров

      p.
        По окончанию первой части курса вы понимаете, как разработать простое приложение на Angular2.

    +e.body._02
      +e('h2').title.phone-only Вторая часть курса
      ol
        li
          strong Сервисы и внедрение зависимостей (Dependency injection)
          ul
            li Что такое  сервис?
            li Создание своего сервиса
            li Использование сервисов в копонентах
            li Инектирование сервиса в сервис
            li Способы создания @Injectable сущностей
        li
          strong Реактивное программирование (RxJS)
          ul
            li Учимся мыслить потоками
            li Observer и Iterator паттерны
            li Работам с разными видами Subject
            li Управление последовательностями
        li
          strong Работа с HTTP
          ul
            li API HTTP провайдера
            li Обработка ошибок и отмена запросов
        li
          strong Работа с формами
          ul
            li Валидация и связывание моделью
            li Директивы валидации
            li Контроль за состоянием валидации
        li
          strong Навигация и маршрутизация
          ul
            li Определение состояний
            li Вложенные состояния
            li Сервис для доступа к параметра состояния
            li Авторизация и контроль доступа к состояниям

    +e.body._03
      +e('h2').title.phone-only Третья часть курса
      ol

        li
          strong Проверка курсовых проектов
        li
          strong Заглядываем внутрь компонентов
          ul
            li Жизненный цикл компонента
            li Механизм обновления состояния (change detection)
        li
          strong Организация приложения на диске
          ul
            li Файловая структура и компонентый подход.
            li Вариант систем сборки (WebPack, SystemJs, angular-cli, rollup)
        li
          strong Автоматизированные тесты
          ul
            li Unit-тесты и TDD (вместе с jasmine и karma)
            li Специфика тестирования компонентов и внедряемых сущностей
            li Проверяем покрытие кода тестами.
            li Функциональные(e2e) тесты с использованием protractor.
        li
          strong Отладка приложения
          ul
            li Разбор сущностей Angular2 в консоли
            li Обзор вспомогательных инструментов (Augury)
            li Погружение в исходный код фреймворка

script.
    var className = 'tabbed-pane', block = document.querySelector('.' + className);

    block.querySelector('.' + className + '__tabs').addEventListener('click', function(e) {
       block.className = className + ' ' + className + '_' +  e.target.className.split('_').pop();
    });



